In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Population

In [2]:
# find population of state,find total pop of county, percent of of the county pop to the state

In [3]:
pop = pd.read_csv('./Ignore/covid_county_population_usafacts.csv')

In [4]:
pop.describe()

         countyFIPS    population
count   3195.000000  3.195000e+03
mean   29882.220970  1.027354e+05
std    15524.479302  3.309477e+05
min        0.000000  0.000000e+00
25%    18098.000000  1.039950e+04
50%    29123.000000  2.512700e+04
75%    45054.000000  6.694150e+04
max    56045.000000  1.003911e+07

In [5]:
pop.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [6]:
# States dic
state_name = {
    'AL':'Alabama',
    'AK':'Alaska',
    'AZ':'Arizona',
    'AR':'Arkansas',
    'CA':'California',
    'CO':'Colorado',
    'CT':'Connecticut',
    'DE':'Delaware',
    'DC':'District of Columbia',
    'FL':'Florida',
    'GA':'Georgia',
    'HI':'Hawaii',
    'ID':'Idaho',
    'IL':'Illinois',
    'IN':'Indiana',
    'IA':'Iowa',
    'KS':'Kansas',
    'KY':'Kentucky',
    'LA':'Louisiana',
    'ME':'Maine',
    'MD':'Maryland',
    'MA':'Massachusetts',
    'MI':'Michigan',
    'MN':'Minnesota',
    'MS':'Mississippi',
    'MO':'Missouri',
    'MT':'Montana',
    'NE':'Nebraska',
    'NV':'Nevada',
    'NH':'New Hampshire',
    'NJ':'New Jersey',
    'NM':'New Mexico',
    'NY':'New York',
    'NC':'North Carolina',
    'ND':'North Dakota',
    'OH':'Ohio',
    'OK':'Oklahoma',
    'OR':'Oregon',
    'PA':'Pennsylvania',
    'RI':'Rhode Island',
    'SC':'South Carolina',
    'SD':'South Dakota',
    'TN':'Tennessee',
    'TX':'Texas',
    'UT':'Utah',
    'VT':'Vermont',
    'VA':'Virginia',
    'WA':'Washington',
    'WV':'West Virginia',
    'WI':'Wisconsin',
    'WY':'Wyoming'
}

In [7]:
state_pop_sum = {}
for index, row in pop.iterrows():
    state_abbr = row['State'] 
    tot_pop = row['population']  
    
    if state_abbr in state_pop_sum:
        state_pop_sum[state_abbr] += tot_pop
    else:
        state_pop_sum[state_abbr] = tot_pop

for state, pop_sum in state_pop_sum.items():
    print(f"{state}: {pop_sum}")

AL: 4903185
AK: 731545
AZ: 7278717
AR: 3017804
CA: 39512223
CO: 5758736
CT: 3565287
DE: 973764
DC: 705749
FL: 21477737
GA: 10617423
HI: 1415872
ID: 1787065
IL: 12671821
IN: 6732219
IA: 3155070
KS: 2913314
KY: 4467673
LA: 4648794
ME: 1344212
MD: 6045680
MA: 6892503
MI: 9986857
MN: 5639632
MS: 2976149
MO: 6137428
MT: 1068778
NE: 1934408
NV: 3080156
NH: 1359711
NJ: 8882190
NM: 2096829
NY: 19453561
NC: 10488084
ND: 762062
OH: 11689100
OK: 3956971
OR: 4217737
PA: 12801989
RI: 1059361
SC: 5148714
SD: 884659
TN: 6829174
TX: 28995881
UT: 3205958
VT: 623989
VA: 8535519
WA: 7614893
WV: 1792147
WI: 5822434
WY: 578759

In [8]:
tot_pop = pd.DataFrame(list(state_pop_sum.items()), columns=['State', 'Total Population'])
tot_pop.head()

  State  Total Population
0    AL           4903185
1    AK            731545
2    AZ           7278717
3    AR           3017804
4    CA          39512223

In [9]:
merged_pop = pd.merge(pop, tot_pop, on='State')
merged_pop.head()

   countyFIPS            County Name State  population  Total Population
0           0  Statewide Unallocated    AL           0           4903185
1        1001         Autauga County    AL       55869           4903185
2        1003         Baldwin County    AL      223234           4903185
3        1005         Barbour County    AL       24686           4903185
4        1007            Bibb County    AL       22394           4903185

In [10]:
merged_pop['pop %'] = (merged_pop['population'] / merged_pop['Total Population'])*100
merged_pop.head()

,countyFIPS,County Name,State,population,Total Population,pop %
0,0,Statewide Unallocated,AL,0,4903185,0.000000
1,1001,Autauga County,AL,55869,4903185,1.139443
2,1003,Baldwin County,AL,223234,4903185,4.552837
3,1005,Barbour County,AL,24686,4903185,0.503469
4,1007,Bibb County,AL,22394,4903185,0.456724

In [11]:
#population data Frame
merged_pop.to_csv('./Data/population_w_percent.csv', index = False)

In [12]:
new_pop = pd.read_csv('./Data/population_w_percent.csv')

In [13]:
new_pop.head()

,countyFIPS,County Name,State,population,Total Population,pop %
0,0,Statewide Unallocated,AL,0,4903185,0.000000
1,1001,Autauga County,AL,55869,4903185,1.139443
2,1003,Baldwin County,AL,223234,4903185,4.552837
3,1005,Barbour County,AL,24686,4903185,0.503469
4,1007,Bibb County,AL,22394,4903185,0.456724

In [14]:
new_pop.isna().sum()

countyFIPS          0
County Name         0
State               0
population          0
Total Population    0
pop %               0
dtype: int64

In [15]:
new_pop['pop %'] = new_pop['pop %']/100

In [16]:
pop_perc = new_pop[['countyFIPS','pop %']]
pop_perc = pd.DataFrame(pop_perc)

# Confirmed Cases

In [21]:
cases = pd.read_csv('./Data/county_fips.csv')
cases.head()

   Unnamed: 0  countyFIPS            County Name State
0           0           0  Statewide Unallocated    AL
1           1        1001        Autauga County     AL
2           2        1003        Baldwin County     AL
3           3        1005        Barbour County     AL
4           4        1007           Bibb County     AL

In [20]:
cases = pd.merge(cases, pop_perc, how = 'left', on='countyFIPS').copy()
cases

,Unnamed: 0,countyFIPS,County Name,State,pop %_x,pop %_y
0,0,0,Statewide Unallocated,AL,0.000000,0.000000
1,0,0,Statewide Unallocated,AL,0.000000,0.000000
2,0,0,Statewide Unallocated,AL,0.000000,0.000000
3,0,0,Statewide Unallocated,AL,0.000000,0.000000
4,0,0,Statewide Unallocated,AL,0.000000,0.000000
...,...,...,...,...,...,...
135788,3188,56037,Sweetwater County,WY,0.073162,0.073162
135789,3189,56039,Teton County,WY,0.040542,0.040542
135790,3190,56041,Uinta County,WY,0.034947,0.034947
135791,3191,56043,Washakie County,WY,0.013486,0.013486
135792,3192,56045,Weston County,WY,0.011969,0.011969

In [19]:
cases_2020 = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2020-12-31', 'pop %']].copy()

KeyError: "['County', 'StateFIPS', '2020-12-31'] not in index"

In [ ]:
cases_test = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2020-12-31', 'pop %']].copy()

In [ ]:
cases_2020.rename(columns = {'2020-12-31': 'cases_2020', 'pop %': 'pop_per'}, inplace =True)

In [ ]:
cases_2020.head()

# Deaths by Day

In [ ]:
deaths = pd.read_csv('./Ignore/covid_deaths_usafacts.csv')
deaths

In [ ]:
for state, abrv in state_list:
    state_abrv 
    pop['population'] == sum(county['population'] if county['State'] == state_abrv)