In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
mask = pd.read_csv('./Data/Mask Mandate.csv')

In [8]:
mask.head(10)

  State_Abrv            STATE_NAME Mask_Mandate Mandatory
0         AL               Alabama   07/16/2020       Yes
1         AK                Alaska          NaN        No
2         AZ               Arizona          NaN        No
3         AR              Arkansas   07/20/2020       Yes
4         CA            California   07/18/2020       Yes
5         CO              Colorado   07/17/2020       Yes
6         CT           Connecticut   04/17/2020       Yes
7         DE              Delaware   09/16/2020       Yes
8         DC  District of Columbia   07/22/2020       Yes
9         FL               Florida          NaN        No

In [7]:
mask.isna().sum()

State_Abrv       0
STATE_NAME       0
Mask_Mandate    14
Mandatory        0
dtype: int64