In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Population

In [2]:
# find population of state,find total pop of county, percent of of the county pop to the state

In [3]:
pop = pd.read_csv('./Ignore/covid_county_population_usafacts.csv')

In [4]:
pop.describe()

         countyFIPS    population
count   3195.000000  3.195000e+03
mean   29882.220970  1.027354e+05
std    15524.479302  3.309477e+05
min        0.000000  0.000000e+00
25%    18098.000000  1.039950e+04
50%    29123.000000  2.512700e+04
75%    45054.000000  6.694150e+04
max    56045.000000  1.003911e+07

In [5]:
pop.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [6]:
# States dic
state_name = {
    'AL':'Alabama',
    'AK':'Alaska',
    'AZ':'Arizona',
    'AR':'Arkansas',
    'CA':'California',
    'CO':'Colorado',
    'CT':'Connecticut',
    'DE':'Delaware',
    'DC':'District of Columbia',
    'FL':'Florida',
    'GA':'Georgia',
    'HI':'Hawaii',
    'ID':'Idaho',
    'IL':'Illinois',
    'IN':'Indiana',
    'IA':'Iowa',
    'KS':'Kansas',
    'KY':'Kentucky',
    'LA':'Louisiana',
    'ME':'Maine',
    'MD':'Maryland',
    'MA':'Massachusetts',
    'MI':'Michigan',
    'MN':'Minnesota',
    'MS':'Mississippi',
    'MO':'Missouri',
    'MT':'Montana',
    'NE':'Nebraska',
    'NV':'Nevada',
    'NH':'New Hampshire',
    'NJ':'New Jersey',
    'NM':'New Mexico',
    'NY':'New York',
    'NC':'North Carolina',
    'ND':'North Dakota',
    'OH':'Ohio',
    'OK':'Oklahoma',
    'OR':'Oregon',
    'PA':'Pennsylvania',
    'RI':'Rhode Island',
    'SC':'South Carolina',
    'SD':'South Dakota',
    'TN':'Tennessee',
    'TX':'Texas',
    'UT':'Utah',
    'VT':'Vermont',
    'VA':'Virginia',
    'WA':'Washington',
    'WV':'West Virginia',
    'WI':'Wisconsin',
    'WY':'Wyoming'
}

In [7]:
state_pop_sum = {}
for index, row in pop.iterrows():
    state_abbr = row['State'] 
    tot_pop = row['population']  
    
    if state_abbr in state_pop_sum:
        state_pop_sum[state_abbr] += tot_pop
    else:
        state_pop_sum[state_abbr] = tot_pop

for state, pop_sum in state_pop_sum.items():
    print(f"{state}: {pop_sum}")

AL: 4903185
AK: 731545
AZ: 7278717
AR: 3017804
CA: 39512223
CO: 5758736
CT: 3565287
DE: 973764
DC: 705749
FL: 21477737
GA: 10617423
HI: 1415872
ID: 1787065
IL: 12671821
IN: 6732219
IA: 3155070
KS: 2913314
KY: 4467673
LA: 4648794
ME: 1344212
MD: 6045680
MA: 6892503
MI: 9986857
MN: 5639632
MS: 2976149
MO: 6137428
MT: 1068778
NE: 1934408
NV: 3080156
NH: 1359711
NJ: 8882190
NM: 2096829
NY: 19453561
NC: 10488084
ND: 762062
OH: 11689100
OK: 3956971
OR: 4217737
PA: 12801989
RI: 1059361
SC: 5148714
SD: 884659
TN: 6829174
TX: 28995881
UT: 3205958
VT: 623989
VA: 8535519
WA: 7614893
WV: 1792147
WI: 5822434
WY: 578759

In [8]:
tot_pop = pd.DataFrame(list(state_pop_sum.items()), columns=['State', 'Total Population'])
tot_pop.head()

  State  Total Population
0    AL           4903185
1    AK            731545
2    AZ           7278717
3    AR           3017804
4    CA          39512223

In [9]:
merged_pop = pd.merge(pop, tot_pop, on='State')
merged_pop.head()

   countyFIPS            County Name State  population  Total Population
0           0  Statewide Unallocated    AL           0           4903185
1        1001         Autauga County    AL       55869           4903185
2        1003         Baldwin County    AL      223234           4903185
3        1005         Barbour County    AL       24686           4903185
4        1007            Bibb County    AL       22394           4903185

In [10]:
merged_pop['pop %'] = (merged_pop['population'] / merged_pop['Total Population']) * 100
merged_pop.head()

,countyFIPS,County Name,State,population,Total Population,pop %
0,0,Statewide Unallocated,AL,0,4903185,0.000000
1,1001,Autauga County,AL,55869,4903185,1.139443
2,1003,Baldwin County,AL,223234,4903185,4.552837
3,1005,Barbour County,AL,24686,4903185,0.503469
4,1007,Bibb County,AL,22394,4903185,0.456724

In [11]:
#population data Frame
merged_pop.to_csv('./Data/population_w_percent.csv', index = False)

In [12]:
new_pop = pd.read_csv('./Data/population_w_percent.csv')

In [13]:
new_pop.head()

,countyFIPS,County Name,State,population,Total Population,pop %
0,0,Statewide Unallocated,AL,0,4903185,0.000000
1,1001,Autauga County,AL,55869,4903185,1.139443
2,1003,Baldwin County,AL,223234,4903185,4.552837
3,1005,Barbour County,AL,24686,4903185,0.503469
4,1007,Bibb County,AL,22394,4903185,0.456724

In [14]:
new_pop.isna().sum()

countyFIPS          0
County Name         0
State               0
population          0
Total Population    0
pop %               0
dtype: int64

In [15]:
pop_perc = new_pop[['County Name','pop %']]
pop_perc = pd.DataFrame(pop_perc)

# Confirmed Cases

In [16]:
cases = pd.read_csv('./Ignore/covid_confirmed_usafacts.csv')

In [17]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Columns: 1269 entries, countyFIPS to 2023-07-23
dtypes: int64(1267), object(2)
memory usage: 30.9+ MB

In [18]:
cases.describe()

,countyFIPS,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,...,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03
mean,29898.348262,30.259004,0.226433,0.229878,0.232070,0.235202,0.237707,0.240839,0.242718,0.243971,...,3.118818e+04,3.118844e+04,3.118858e+04,3.118874e+04,3.118975e+04,3.119131e+04,3.119197e+04,3.119221e+04,3.119221e+04,3.119221e+04
std,15515.884232,15.153897,6.899731,6.977750,7.031192,7.075284,7.096643,7.160000,7.199078,7.220848,...,1.062492e+05,1.062517e+05,1.062530e+05,1.062543e+05,1.062558e+05,1.062615e+05,1.062632e+05,1.062635e+05,1.062635e+05,1.062635e+05
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,18101.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03
50%,29125.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03
75%,45055.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04
max,56045.000000,56.000000,375.000000,379.000000,382.000000,384.000000,385.000000,388.000000,390.000000,391.000000,...,3.533727e+06,3.533901e+06,3.533991e+06,3.534073e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06

In [19]:
cases.isna().sum()

countyFIPS     0
County Name    0
State          0
StateFIPS      0
2020-01-22     0
              ..
2023-07-19     0
2023-07-20     0
2023-07-21     0
2023-07-22     0
2023-07-23     0
Length: 1269, dtype: int64

In [20]:
cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12645,12645,12645,12645,12645,12645,12645,12645,12645,12645
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,12206,12206,12206,12206,12206,12206,12206,12206,12206,12206
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6468,6468,6468,6468,6468,6468,6468,6468,6468,6468
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2640,2640,2640,2640,2640,2640,2640,2640,2640,2640
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1914,1914,1914,1914,1914,1914,1914,1914,1914,1914

# Deaths by Day

In [ ]:
deaths = pd.read_csv('./Ignore/covid_deaths_usafacts.csv')
deaths

In [ ]:
# getting sum of each states excess deaths 
#def excess_deaths(deaths, start_year=2017, end_year=2022):
    #state_totals = {state: [0] * (end_year - start_year + 1) for state in 
                    deaths['State'].unique()}
    
   # for index, row in deaths.iterrows():
       # state =   row['State']
      #  year = row['Year']
       # excess_estimate = row['Excess Estimate']
        
       # if start_year <= year <= end_year:
     #       state_totals[state][year - start_year] += excess_estimate

  #  result = pd.DataFrame(state_totals).T.reset_index()
   # result.columns = ['State'] + [f'Exc_deaths_{year}' for year in 
                                  range(start_year, end_year + 1)]
    
  #  return result

In [ ]:
total deaths 2020 = value of 2020-12-31
total deaths 2021 = value of 021-12-31 - 2020

In [ ]:
pd.read_csv('./Data/Executive Approval.csv')

In [ ]:
pd.read_csv('./Data/Health Behavior.csv')

In [ ]:
pd.read_csv('./Data/Public Health Measures.csv')