In [ ]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Collection

## Collecting Asthma Information

In [562]:
asthma = pd.read_csv('Ignore/Asthma.csv')

In [563]:
asthma.shape

(80342, 33)

In [564]:
asthma.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN

In [565]:
asthma.Question.value_counts()

Asthma mortality rate                                                                      13497
Current asthma prevalence among adults aged >= 18 years                                     9570
Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma        9570
Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma        9570
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma     9570
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma     9570
Hospitalizations for asthma                                                                 7812
Emergency department visit rate for asthma                                                  7608
Asthma prevalence among women aged 18-44 years                                              3575
Name: Question, dtype: int64

In [566]:
asthma = asthma[asthma['Question']== "Current asthma prevalence among adults aged >= 18 years"]

In [567]:
asthma.shape

(9570, 33)

In [568]:
asthma.describe()

,YearStart,YearEnd,Response,DataValue,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,ResponseID,LocationID,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
count,9570.000000,9570.000000,0.0,7662.000000,7662.000000,7662.000000,7662.000000,0.0,0.0,0.0,0.0,0.0,9570.000000,0.0,0.0,0.0,0.0
mean,2016.000000,2016.000000,NaN,10.195184,10.195184,8.039585,13.059867,NaN,NaN,NaN,NaN,NaN,31.542529,NaN,NaN,NaN,NaN
std,3.162443,3.162443,NaN,3.745644,3.745644,2.676902,5.999667,NaN,NaN,NaN,NaN,NaN,18.265420,NaN,NaN,NaN,NaN
min,2011.000000,2011.000000,NaN,1.900000,1.900000,1.100000,3.300000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,2013.000000,2013.000000,NaN,7.700000,7.700000,6.100000,9.300000,NaN,NaN,NaN,NaN,NaN,17.000000,NaN,NaN,NaN,NaN
50%,2016.000000,2016.000000,NaN,9.600000,9.600000,8.000000,11.400000,NaN,NaN,NaN,NaN,NaN,31.000000,NaN,NaN,NaN,NaN
75%,2019.000000,2019.000000,NaN,11.900000,11.900000,9.800000,14.800000,NaN,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN
max,2021.000000,2021.000000,NaN,44.100000,44.100000,26.900000,66.600000,NaN,NaN,NaN,NaN,NaN,78.000000,NaN,NaN,NaN,NaN

In [569]:
asthma = asthma[asthma['YearStart'] == 2019]

In [570]:
asthma.shape

(870, 33)

In [571]:
asthma.YearStart.value_counts()

2019    870
Name: YearStart, dtype: int64

In [572]:
asthma = asthma[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1', 'DataValueType']]

In [573]:
asthma.head()

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1,DataValueType
28919,2019,GU,Guam,Current asthma prevalence among adults aged >=...,7.5,Female,Age-adjusted Prevalence
28927,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,10.0,"White, non-Hispanic",Crude Prevalence
28932,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,12.6,Female,Age-adjusted Prevalence
28977,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,7.0,Male,Age-adjusted Prevalence
28983,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,7.0,"Other, non-Hispanic",Crude Prevalence

In [574]:
asthma.shape

(870, 7)

In [575]:
asthma['LocationDesc'].nunique()

55

In [576]:
asthma.drop_duplicates(inplace=True)

In [577]:
asthma.shape

(870, 7)

In [578]:
asthma = asthma[asthma['Stratification1'] == 'Overall']

## Creating a function

In [579]:
#cancer = pd.read_csv('Ignore/Cancer.csv')
#cancer.shape

In [580]:
#cancer['Question'].value_counts()

In [581]:
#cancer['YearStart'].value_counts()

In [582]:
#Reducing Cancer to just total cancer
#cancer.Question.value_counts()

#cancer = cancer[cancer['Question']== 'Invasive cancer (all sites combined), incidence']

#cancer.shape

In [583]:
#cancer.YearStart.value_counts()

In [584]:
heart = pd.read_csv('Ignore/Cardiovascular.csv')

In [585]:
# Splitting cardiac dataset into deaths from cardio diseases and diagnosed prevalence of hypertension
cardiac_mortality = heart[heart['Question'] == 'Mortality from total cardiovascular diseases']
print(cardiac_mortality.shape)

high_blood_pressure = heart[heart['Question']== 'Awareness of high blood pressure among adults aged >= 18 years']
print(high_blood_pressure.shape)

(13497, 33)
(5220, 33)

In [586]:
copd = pd.read_csv('Ignore/COPD.csv')
copd.shape

(152874, 33)

In [587]:
def cleaning(df):
    print(df.shape)
    df = df[df['YearStart'] == 2019]
    print(df.shape)
    df = df[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1', 'DataValueType']]
    print(df.shape)
    df = df[df['Stratification1'] == 'Overall']
    return df

In [588]:
#cancer = cancer[cancer['YearStart'] >= 2016]
#cancer = cancer[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1']]

In [589]:
cardiac_mortality = cleaning(cardiac_mortality)

(13497, 33)
(1227, 33)
(1227, 7)

In [590]:
high_blood_pressure = cleaning(high_blood_pressure)

(5220, 33)
(870, 33)
(870, 7)

In [591]:
copd = cleaning(copd)

(152874, 33)
(10170, 33)
(10170, 7)

In [592]:
copd.Question.value_counts()

copd = copd[copd['Question']== 'Prevalence of chronic obstructive pulmonary disease among adults >= 18']

copd.shape

(110, 7)

In [593]:
diabetes = pd.read_csv('Ignore/Diabetes.csv')
diabetes.shape

(156808, 33)

In [594]:
diabetes['Question'].value_counts()

diabetes = diabetes[diabetes['Question']== 'Prevalence of diagnosed diabetes among adults aged >= 18 years']

diabetes.shape

(9570, 33)

In [595]:
diabetes = cleaning(diabetes)

(9570, 33)
(870, 33)
(870, 7)

In [596]:
immun = pd.read_csv('Ignore/Immunization.csv')

In [597]:
immun = cleaning(immun)

(9570, 33)
(870, 33)
(870, 7)

In [598]:
kidney = pd.read_csv('Ignore/Kidney.csv')

In [599]:
kidney['Question'].value_counts()

kidney = kidney[kidney['Question']== 'Prevalence of chronic kidney disease among adults aged >= 18 years']

kidney.shape

(9570, 33)

In [600]:
kidney = cleaning(kidney)

(9570, 33)
(870, 33)
(870, 7)

In [601]:
# I now have 7 dataframes. Some of these need to be filtered by question
# asthma, cancer, heart, copd, diabetes, immun, kidney
# I have the overall rates as well as rates by gender & race

In [602]:
print(asthma.shape)
#print(cancer.shape)
print(cardiac_mortality.shape)
print(high_blood_pressure.shape)
print(copd.shape)
print(diabetes.shape)
print(immun.shape)
print(kidney.shape)

(110, 7)
(156, 7)
(110, 7)
(110, 7)
(110, 7)
(110, 7)
(110, 7)

In [603]:
cardiac_mortality.drop_duplicates(inplace=True)

In [604]:
cardiac_mortality.shape

(156, 7)

In [605]:
asthma.head()

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1,DataValueType
29319,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,9.7,Overall,Age-adjusted Prevalence
29673,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,9.9,Overall,Crude Prevalence
30178,2019,AL,Alabama,Current asthma prevalence among adults aged >=...,9.4,Overall,Age-adjusted Prevalence
30473,2019,AL,Alabama,Current asthma prevalence among adults aged >=...,9.5,Overall,Crude Prevalence
31698,2019,AR,Arkansas,Current asthma prevalence among adults aged >=...,9.3,Overall,Age-adjusted Prevalence

In [606]:
asthma['Stratification1'].value_counts()

Overall    110
Name: Stratification1, dtype: int64

In [607]:
clean2(asthma)

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1,DataValueType
29319,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,9.7,Overall,Age-adjusted Prevalence
29673,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,9.9,Overall,Crude Prevalence
30178,2019,AL,Alabama,Current asthma prevalence among adults aged >=...,9.4,Overall,Age-adjusted Prevalence
30473,2019,AL,Alabama,Current asthma prevalence among adults aged >=...,9.5,Overall,Crude Prevalence
31698,2019,AR,Arkansas,Current asthma prevalence among adults aged >=...,9.3,Overall,Age-adjusted Prevalence
...,...,...,...,...,...,...,...
77802,2019,WI,Wisconsin,Current asthma prevalence among adults aged >=...,10.2,Overall,Crude Prevalence
78516,2019,WV,West Virginia,Current asthma prevalence among adults aged >=...,11.5,Overall,Crude Prevalence
78762,2019,WV,West Virginia,Current asthma prevalence among adults aged >=...,11.6,Overall,Age-adjusted Prevalence
79568,2019,WY,Wyoming,Current asthma prevalence among adults aged >=...,9.5,Overall,Crude Prevalence
79745,2019,WY,Wyoming,Current asthma prevalence among adults aged >=...,9.5,Overall,Age-adjusted Prevalence

In [608]:
asthma.DataValueType.value_counts()

Age-adjusted Prevalence    55
Crude Prevalence           55
Name: DataValueType, dtype: int64

In [609]:
copd.DataValueType.value_counts()

Age-adjusted Prevalence    55
Crude Prevalence           55
Name: DataValueType, dtype: int64

In [610]:
cardiac_mortality.DataValueType.value_counts()

Number               52
Crude Rate           52
Age-adjusted Rate    52
Name: DataValueType, dtype: int64

In [611]:
def adj(df):
    adj_df = df[df['DataValueType'] == 'Age-adjusted Prevalence'].copy()
    adj_df.drop(columns=['LocationAbbr', 'DataValueType', 'Stratification1'], inplace=True)
    return adj_df

def crude(df):
    crude_df = df[df['DataValueType'] == 'Crude Prevalence'].copy()
    crude_df.drop(columns=['LocationAbbr', 'DataValueType', 'Stratification1'], inplace=True)
    return crude_df

In [612]:
#adj_asthma = adj(asthma)
#crude_asthma = crude(asthma)

#adj_asthma.to_csv('Data/asthma_adj.csv')
#crude_asthma.to_csv('Data/asthma_crude.csv')

In [613]:
def process_dataframes(dataframe_list):
    results = {} 
    for name, df in dataframe_list.items():
        adj_result = adj(df)
        crude_result = crude(df)
        results[name] = {'adj': adj_result, 'crude': crude_result}
    return results

# Create a list of DataFrames 
dataframe_list = {
    'copd': copd,
    'asthma': asthma,
    'high_blood_pressure': high_blood_pressure,
    'cardiac_mortality': cardiac_mortality,
    'diabetes': diabetes,
    'immun': immun,
    'kidney': kidney
}
# Process the list of DataFrames
results = process_dataframes(dataframe_list)

# Save the results to CSV
for name, result in results.items():
    result['adj'].to_csv(f'Data/{name}_adj.csv')
    result['crude'].to_csv(f'Data/{name}_crude.csv')