In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Collection

## Collecting Asthma Information

CSV files with information on asthma, diabetes, cancer, copd, heart disease, kidney disease incident rates/ prevalence rates were downloaded from the CDC website. These csv files are each approximately 40 MB with responses to various questions, rates by demographic as well as overall population totals for more than a decade. Each dataset must be cleaned and unecessary information dropped to reduce the files to a manageable size.

In [194]:
# Large csv files were uploaded into an untracked folder
asthma = pd.read_csv('Ignore/Asthma.csv')

In [195]:
asthma.shape

(80342, 33)

In [196]:
asthma.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN

In [197]:
asthma.Question.value_counts()

Asthma mortality rate                                                                      13497
Current asthma prevalence among adults aged >= 18 years                                     9570
Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma        9570
Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma        9570
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma     9570
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma     9570
Hospitalizations for asthma                                                                 7812
Emergency department visit rate for asthma                                                  7608
Asthma prevalence among women aged 18-44 years                                              3575
Name: Question, dtype: int64

In [198]:
# Reducing data to only include reqponses to question of interest
asthma = asthma[asthma['Question']== "Current asthma prevalence among adults aged >= 18 years"]

In [199]:
asthma.shape

(9570, 33)

In [200]:
asthma.describe()

,YearStart,YearEnd,Response,DataValue,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,ResponseID,LocationID,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
count,9570.000000,9570.000000,0.0,7662.000000,7662.000000,7662.000000,7662.000000,0.0,0.0,0.0,0.0,0.0,9570.000000,0.0,0.0,0.0,0.0
mean,2016.000000,2016.000000,NaN,10.195184,10.195184,8.039585,13.059867,NaN,NaN,NaN,NaN,NaN,31.542529,NaN,NaN,NaN,NaN
std,3.162443,3.162443,NaN,3.745644,3.745644,2.676902,5.999667,NaN,NaN,NaN,NaN,NaN,18.265420,NaN,NaN,NaN,NaN
min,2011.000000,2011.000000,NaN,1.900000,1.900000,1.100000,3.300000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,2013.000000,2013.000000,NaN,7.700000,7.700000,6.100000,9.300000,NaN,NaN,NaN,NaN,NaN,17.000000,NaN,NaN,NaN,NaN
50%,2016.000000,2016.000000,NaN,9.600000,9.600000,8.000000,11.400000,NaN,NaN,NaN,NaN,NaN,31.000000,NaN,NaN,NaN,NaN
75%,2019.000000,2019.000000,NaN,11.900000,11.900000,9.800000,14.800000,NaN,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN
max,2021.000000,2021.000000,NaN,44.100000,44.100000,26.900000,66.600000,NaN,NaN,NaN,NaN,NaN,78.000000,NaN,NaN,NaN,NaN

In [201]:
# We only need data for pre-existing conditions for 1 year
asthma = asthma[asthma['YearStart'] == 2019]

In [202]:
asthma.shape

(870, 33)

In [203]:
asthma.YearStart.value_counts()

2019    870
Name: YearStart, dtype: int64

In [204]:
# Reducing dataframe to only include the 7 columns we need for analysis and data cleaning
asthma = asthma[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1', 'DataValueType']]

In [205]:
asthma.head()

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1,DataValueType
28919,2019,GU,Guam,Current asthma prevalence among adults aged >=...,7.5,Female,Age-adjusted Prevalence
28927,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,10.0,"White, non-Hispanic",Crude Prevalence
28932,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,12.6,Female,Age-adjusted Prevalence
28977,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,7.0,Male,Age-adjusted Prevalence
28983,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,7.0,"Other, non-Hispanic",Crude Prevalence

In [206]:
asthma.shape

(870, 7)

In [207]:
asthma['LocationDesc'].nunique()

55

In [208]:
asthma.drop_duplicates(inplace=True)

In [209]:
asthma.shape

(870, 7)

In [210]:
# Reducing dataset to only include population totals/ dropping rates by race and gender demographics
asthma = asthma[asthma['Stratification1'] == 'Overall']

## Creating a function

In [211]:
#cancer = pd.read_csv('Ignore/Cancer.csv')
#cancer.shape

In [212]:
#cancer['Question'].value_counts()

In [213]:
#cancer['YearStart'].value_counts()

In [214]:
#Reducing Cancer to just total cancer
#cancer.Question.value_counts()

#cancer = cancer[cancer['Question']== 'Invasive cancer (all sites combined), incidence']

#cancer.shape

In [215]:
#cancer.YearStart.value_counts()

*For the question on interest, total cancer rates, we do not have data for 2019 or 2020. The most recent year is 2016 which is too long ago to be used as an accurate estimate of pre-existing cancer rates*

## Reading in other csvs

In [216]:
heart = pd.read_csv('Ignore/Cardiovascular.csv')

In [217]:
# Splitting cardiac dataset into deaths from cardio diseases and diagnosed prevalence of hypertension
cardiac_mortality = heart[heart['Question'] == 'Mortality from total cardiovascular diseases']
print(cardiac_mortality.shape)

high_blood_pressure = heart[heart['Question']== 'Awareness of high blood pressure among adults aged >= 18 years']
print(high_blood_pressure.shape)

(13497, 33)
(5220, 33)

In [218]:
copd = pd.read_csv('Ignore/COPD.csv')
copd.shape

(152874, 33)

In [219]:
copd.Question.value_counts()

copd = copd[copd['Question']== 'Prevalence of chronic obstructive pulmonary disease among adults >= 18']

copd.shape

(9570, 33)

In [220]:
diabetes = pd.read_csv('Ignore/Diabetes.csv')
diabetes.shape

(156808, 33)

In [221]:
diabetes['Question'].value_counts()

diabetes = diabetes[diabetes['Question']== 'Prevalence of diagnosed diabetes among adults aged >= 18 years']

diabetes.shape

(9570, 33)

In [222]:
immun = pd.read_csv('Ignore/Immunization.csv')

In [223]:
kidney = pd.read_csv('Ignore/Kidney.csv')

In [224]:
kidney['Question'].value_counts()

kidney = kidney[kidney['Question']== 'Prevalence of chronic kidney disease among adults aged >= 18 years']

kidney.shape

(9570, 33)

## Defining cleaning function:
Following the steps used on the asthma csv as each dataset is structured the same

In [225]:
def cleaning(df):
    print(df.shape)
    df = df[df['YearStart'] == 2019]
    print(df.shape)
    df = df[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1', 'DataValueType']]
    print(df.shape)
    df = df[df['Stratification1'] == 'Overall']
    return df

In [226]:
#cancer = cancer[cancer['YearStart'] >= 2016]
#cancer = cancer[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1']]

In [227]:
cardiac_mortality = cleaning(cardiac_mortality)

(13497, 33)
(1227, 33)
(1227, 7)

In [228]:
high_blood_pressure = cleaning(high_blood_pressure)

(5220, 33)
(870, 33)
(870, 7)

In [229]:
copd = cleaning(copd)

(9570, 33)
(870, 33)
(870, 7)

In [230]:
diabetes = cleaning(diabetes)

(9570, 33)
(870, 33)
(870, 7)

In [231]:
immun = cleaning(immun)

(9570, 33)
(870, 33)
(870, 7)

In [232]:
kidney = cleaning(kidney)

(9570, 33)
(870, 33)
(870, 7)

In [233]:
# I now have 7 dataframes. Some of these need to be filtered by question
# asthma, cancer, heart, copd, diabetes, immun, kidney
# I have the overall rates as well as rates by gender & race

In [234]:
#Examining the size of each dataset to ensure cleaning function worked

print(asthma.shape)
#print(cancer.shape)
print(cardiac_mortality.shape)
print(high_blood_pressure.shape)
print(copd.shape)
print(diabetes.shape)
print(immun.shape)
print(kidney.shape)

(110, 7)
(156, 7)
(110, 7)
(110, 7)
(110, 7)
(110, 7)
(110, 7)

In [235]:
# Cardiac_mortality is larger: ensuring there are no duplicate values
cardiac_mortality.drop_duplicates(inplace=True)

In [236]:
cardiac_mortality.shape

(156, 7)

In [237]:
asthma.head()

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1,DataValueType
29319,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,9.7,Overall,Age-adjusted Prevalence
29673,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,9.9,Overall,Crude Prevalence
30178,2019,AL,Alabama,Current asthma prevalence among adults aged >=...,9.4,Overall,Age-adjusted Prevalence
30473,2019,AL,Alabama,Current asthma prevalence among adults aged >=...,9.5,Overall,Crude Prevalence
31698,2019,AR,Arkansas,Current asthma prevalence among adults aged >=...,9.3,Overall,Age-adjusted Prevalence

In [238]:
asthma['Stratification1'].value_counts()

Overall    110
Name: Stratification1, dtype: int64

In [239]:
asthma.DataValueType.value_counts()

Age-adjusted Prevalence    55
Crude Prevalence           55
Name: DataValueType, dtype: int64

In [240]:
copd.DataValueType.value_counts()

Age-adjusted Prevalence    55
Crude Prevalence           55
Name: DataValueType, dtype: int64

In [241]:
cardiac_mortality.DataValueType.value_counts()

Number               52
Crude Rate           52
Age-adjusted Rate    52
Name: DataValueType, dtype: int64

In [242]:
high_blood_pressure.head()

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1,DataValueType
97076,2019,AK,Alaska,Awareness of high blood pressure among adults ...,32.8,Overall,Age-adjusted Prevalence
98160,2019,AK,Alaska,Awareness of high blood pressure among adults ...,32.8,Overall,Crude Prevalence
98274,2019,AL,Alabama,Awareness of high blood pressure among adults ...,42.5,Overall,Crude Prevalence
98432,2019,AL,Alabama,Awareness of high blood pressure among adults ...,39.4,Overall,Age-adjusted Prevalence
99507,2019,AR,Arkansas,Awareness of high blood pressure among adults ...,38.2,Overall,Age-adjusted Prevalence

In [243]:
cardiac_mortality.head()

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1,DataValueType
223,2019,RI,Rhode Island,Mortality from total cardiovascular diseases,3043.0,Overall,Number
1148,2019,MN,Minnesota,Mortality from total cardiovascular diseases,212.3,Overall,Crude Rate
1400,2019,MD,Maryland,Mortality from total cardiovascular diseases,16036.0,Overall,Number
1656,2019,AK,Alaska,Mortality from total cardiovascular diseases,156.2,Overall,Crude Rate
1682,2019,DE,Delaware,Mortality from total cardiovascular diseases,214.3,Overall,Age-adjusted Rate

In [244]:
def adj(df):
    adj_df = df[df['DataValueType'] == 'Age-adjusted Prevalence'].copy()
    adj_df.drop(columns=['LocationAbbr', 'DataValueType', 'Stratification1'], inplace=True)
    return adj_df

def crude(df):
    crude_df = df[df['DataValueType'] == 'Prevalence'].copy()
    crude_df.drop(columns=['LocationAbbr', 'DataValueType', 'Stratification1'], inplace=True)
    return crude_df

# Cardiac mortality is 'Age-adjusted Rate' and 'Crude Rate' not 'Prevalence'- fix this in final code

In [245]:
#adj_asthma = adj(asthma)
#crude_asthma = crude(asthma)

#adj_asthma.to_csv('Data/asthma_adj.csv')
#crude_asthma.to_csv('Data/asthma_crude.csv')

In [246]:
#Don't keep re-running this cell
def process_dataframes(dataframe_list):
    results = {} 
    for name, df in dataframe_list.items():
        adj_result = adj(df)
        crude_result = crude(df)
        results[name] = {'adj': adj_result, 'crude': crude_result}
    return results

# Create a list of DataFrames 
dataframe_list = {
    'copd': copd,
    'asthma': asthma,
    'high_blood_pressure': high_blood_pressure,
    'diabetes': diabetes,
    'immun': immun,
    'kidney': kidney
}
# Process the list of DataFrames
results = process_dataframes(dataframe_list)

# Save the results to CSV
for name, result in results.items():
    result['adj'].to_csv(f'Data/Raw/{name}_adj.csv', index = False)
    result['crude'].to_csv(f'Data/Raw/{name}_crude.csv', index = False)

In [247]:
cardiac_mortality = cardiac_mortality[cardiac_mortality['DataValueType'] == 'Age-adjusted Rate']
cardiac_mortality.drop(columns=['LocationAbbr', 'DataValueType', 'Stratification1'], inplace=True)
cardiac_mortality.to_csv('Data/Raw/cardiac_mortality_adj.csv', index = False)

# Data Cleaning

### Data Cleaning Goals:

1. Identify any issues with each dataframe
2. If any missing values- fill with an appropriate placeholder/ check documentation
3. Rename variables appropriately
    - Location
    - variable of interest
4. Drop uneccesary columns
    - year
    - variable descriptions
    - demographics (initially)
    - abbreviations
5. Drop unecessary rows
    - Keep 50 states
    - keep total us
    - Maybe keep PR or DC if present in all datasets
5. Calculate any necessary values-> convert total numbers to rates per population
6. Check datatypes
7. Date/ Time variables?
8. Reformat dataframes if necessary
9. Concatenate/ merge as necessary

#### For 2 insurance datasets: 
- add year as prefix/ suffix to each column 
- drop year column

In [248]:
insur_2019 = pd.read_csv('Data/Raw/2019_insurance.csv')

In [249]:
insur_2019.head()

,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Year
0,United States,0.496,0.059,0.198,0.142,0.014,0.092,2019
1,Alabama,0.472,0.055,0.195,0.160,0.021,0.097,2019
2,Alaska,0.484,0.035,0.213,0.100,0.053,0.115,2019
3,Arizona,0.451,0.052,0.210,0.161,0.015,0.111,2019
4,Arkansas,0.420,0.054,0.262,0.159,0.014,0.091,2019

In [250]:
insur_2021 = pd.read_csv('Data/Raw/2021_insurance.csv')

In [251]:
insur = pd.merge(insur_2019, insur_2021, how ='inner', on ='Location', suffixes=('_2019', '_2021'))

In [252]:
insur.head()

,Location,Employer_2019,Non-Group_2019,Medicaid_2019,Medicare_2019,Military_2019,Uninsured_2019,Year_2019,Employer_2021,Non-Group_2021,Medicaid_2021,Medicare_2021,Military_2021,Uninsured_2021,Year_2021
0,United States,0.496,0.059,0.198,0.142,0.014,0.092,2019,0.485,0.061,0.211,0.143,0.013,0.086,2021
1,Alabama,0.472,0.055,0.195,0.160,0.021,0.097,2019,0.466,0.060,0.192,0.162,0.021,0.100,2021
2,Alaska,0.484,0.035,0.213,0.100,0.053,0.115,2019,0.433,0.041,0.257,0.107,0.053,0.108,2021
3,Arizona,0.451,0.052,0.210,0.161,0.015,0.111,2019,0.450,0.054,0.213,0.162,0.015,0.106,2021
4,Arkansas,0.420,0.054,0.262,0.159,0.014,0.091,2019,0.411,0.056,0.270,0.156,0.015,0.092,2021

In [253]:
insur.drop(columns =['Year_2019', 'Year_2021'], inplace=True)

In [254]:
insur.head()

,Location,Employer_2019,Non-Group_2019,Medicaid_2019,Medicare_2019,Military_2019,Uninsured_2019,Employer_2021,Non-Group_2021,Medicaid_2021,Medicare_2021,Military_2021,Uninsured_2021
0,United States,0.496,0.059,0.198,0.142,0.014,0.092,0.485,0.061,0.211,0.143,0.013,0.086
1,Alabama,0.472,0.055,0.195,0.160,0.021,0.097,0.466,0.060,0.192,0.162,0.021,0.100
2,Alaska,0.484,0.035,0.213,0.100,0.053,0.115,0.433,0.041,0.257,0.107,0.053,0.108
3,Arizona,0.451,0.052,0.210,0.161,0.015,0.111,0.450,0.054,0.213,0.162,0.015,0.106
4,Arkansas,0.420,0.054,0.262,0.159,0.014,0.091,0.411,0.056,0.270,0.156,0.015,0.092

In [255]:
insur.to_csv('Data/cleaned_insur.csv', index = False)

#### For pre-existing conditions & immunizations:
1. choose crude or adj
2. drop old index
3. rename data value to question
4. drop year and question columns
5. For total number of incident data -> after concatening with population data, convert to rate

*Crude are the raw numbers. Adj are these numbers adjusted/ standardized based on population's age distribution. We can retain the crude numbers however the age adjusted numbers will probably be better for cross comparison*

In [256]:
asthma = pd.read_csv('Data/Raw/asthma_adj.csv')

In [257]:
asthma.head()

,YearStart,LocationDesc,Question,DataValue
0,2019,Alaska,Current asthma prevalence among adults aged >=...,9.7
1,2019,Alabama,Current asthma prevalence among adults aged >=...,9.4
2,2019,Arkansas,Current asthma prevalence among adults aged >=...,9.3
3,2019,Arizona,Current asthma prevalence among adults aged >=...,9.8
4,2019,California,Current asthma prevalence among adults aged >=...,7.8

In [258]:
asthma.rename(columns={
    'DataValue':'asthma_prevalence',
    'LocationDesc':'Location'}, inplace=True)

In [259]:
asthma.drop(columns=['YearStart', 'Question'], inplace=True)
asthma.head()

     Location  asthma_prevalence
0      Alaska                9.7
1     Alabama                9.4
2    Arkansas                9.3
3     Arizona                9.8
4  California                7.8

In [260]:
high_bp = pd.read_csv('Data/Raw/high_blood_pressure_adj.csv')
high_bp.head()

,YearStart,LocationDesc,Question,DataValue
0,2019,Alaska,Awareness of high blood pressure among adults ...,32.8
1,2019,Alabama,Awareness of high blood pressure among adults ...,39.4
2,2019,Arkansas,Awareness of high blood pressure among adults ...,38.2
3,2019,Arizona,Awareness of high blood pressure among adults ...,29.9
4,2019,California,Awareness of high blood pressure among adults ...,26.6

In [261]:
high_bp.rename(columns={
    'DataValue':'high_bp_prevalence',
    'LocationDesc':'Location'}, inplace=True)
high_bp.drop(columns=['YearStart', 'Question'], inplace=True)
high_bp.head()

     Location  high_bp_prevalence
0      Alaska                32.8
1     Alabama                39.4
2    Arkansas                38.2
3     Arizona                29.9
4  California                26.6

In [262]:
cardiac_mortality = pd.read_csv('Data/Raw/cardiac_mortality_adj.csv')

In [263]:
cardiac_mortality.rename(columns={
    'DataValue':'cardiac_mortality_rate',
    'LocationDesc':'Location'}, inplace=True)
cardiac_mortality.drop(columns=['YearStart', 'Question'], inplace=True)
cardiac_mortality.head()

   Location  cardiac_mortality_rate
0  Delaware                   214.3
1   Georgia                   234.3
2    Alaska                   178.5
3  Kentucky                   253.8
4  Arkansas                   284.3

In [264]:
diabetes = pd.read_csv('Data/Raw/diabetes_adj.csv')
diabetes.head()

,YearStart,LocationDesc,Question,DataValue
0,2019,Alaska,Prevalence of diagnosed diabetes among adults ...,7.1
1,2019,Alabama,Prevalence of diagnosed diabetes among adults ...,12.2
2,2019,Arkansas,Prevalence of diagnosed diabetes among adults ...,12.2
3,2019,Arizona,Prevalence of diagnosed diabetes among adults ...,9.8
4,2019,California,Prevalence of diagnosed diabetes among adults ...,9.4

In [265]:
diabetes.rename(columns={
    'DataValue':'diabetes_prevalence',
    'LocationDesc':'Location'}, inplace=True)

In [266]:
diabetes.drop(columns=['YearStart', 'Question'], inplace=True)
diabetes.head()

     Location  diabetes_prevalence
0      Alaska                  7.1
1     Alabama                 12.2
2    Arkansas                 12.2
3     Arizona                  9.8
4  California                  9.4

In [267]:
kidney = pd.read_csv('Data/Raw/kidney_adj.csv')
kidney.head()

,YearStart,LocationDesc,Question,DataValue
0,2019,Alaska,Prevalence of chronic kidney disease among adu...,1.8
1,2019,Alabama,Prevalence of chronic kidney disease among adu...,3.1
2,2019,Arkansas,Prevalence of chronic kidney disease among adu...,3.7
3,2019,California,Prevalence of chronic kidney disease among adu...,2.8
4,2019,Arizona,Prevalence of chronic kidney disease among adu...,3.6

In [268]:
kidney.rename(columns={
    'DataValue':'kidney_disease_prevalence',
    'LocationDesc':'Location'}, inplace=True)

In [269]:
kidney.drop(columns=['YearStart', 'Question'], inplace=True)
kidney.head()

     Location  kidney_disease_prevalence
0      Alaska                        1.8
1     Alabama                        3.1
2    Arkansas                        3.7
3  California                        2.8
4     Arizona                        3.6

In [270]:
copd = pd.read_csv('Data/Raw/copd_adj.csv')
copd.rename(columns={
    'DataValue':'copd_prevalence',
    'LocationDesc':'Location'}, inplace=True)
copd.drop(columns=['YearStart', 'Question'], inplace=True)
copd.head()

     Location  copd_prevalence
0      Alaska              4.6
1     Alabama              9.3
2    Arkansas              9.7
3  California              4.2
4     Arizona              6.0

In [271]:
immun = pd.read_csv('Data/Raw/immun_adj.csv')
immun.rename(columns={
    'DataValue':'flu_vaccination_rate_2019',
    'LocationDesc':'Location'}, inplace=True)
immun.drop(columns=['YearStart', 'Question'], inplace=True)
immun.head()

     Location  flu_vaccination_rate_2019
0      Alaska                       37.0
1     Alabama                       39.5
2    Arkansas                       40.1
3     Arizona                       37.1
4  California                       40.7

In [272]:
pre_con = pd.merge(immun, asthma, on='Location', how='inner')

dataframes_to_merge = [cardiac_mortality, high_bp, copd, kidney, diabetes]

for df in dataframes_to_merge:
    pre_con = pd.merge(pre_con, df, on='Location', how='inner')

In [273]:
pre_con.head()

,Location,flu_vaccination_rate_2019,asthma_prevalence,cardiac_mortality_rate,high_bp_prevalence,copd_prevalence,kidney_disease_prevalence,diabetes_prevalence
0,Alaska,37.0,9.7,178.5,32.8,4.6,1.8,7.1
1,Alabama,39.5,9.4,289.3,39.4,9.3,3.1,12.2
2,Arkansas,40.1,9.3,284.3,38.2,9.7,3.7,12.2
3,Arizona,37.1,9.8,181.8,29.9,6.0,3.6,9.8
4,California,40.7,7.8,192.5,26.6,4.2,2.8,9.4

In [274]:
pre_con.to_csv('Data/cleaned_pre_condtions.csv', index = True)

#### Income per capita: (Suli)
1. Rename year columns
2. Rename Geoname to Location
3. Drop geofips column

#### Life Expectancy: (Suli)
1. Convert abbreviated state names to unabbreviated name (Rename column name to match and then merge with Mask Mandates on abbreviations and then drop abbreviations)
2. Rename State to Location
3. Rename rate to average life expectancy
4. Drop url and year

#### Mask Mandate: (Suli)
1. After using abbreviation to match with states for life expectancy drop abbrev
2. Rename state_name to Location
3. Rename mandatory to mask_mandate

In [275]:
mask = pd.read_csv('Data/Mask Mandate.csv')
mask.head()

  State_Abrv  STATE_NAME Mask_Mandate Mandatory
0         AL     Alabama   07/16/2020       Yes
1         AK      Alaska          NaN        No
2         AZ     Arizona          NaN        No
3         AR    Arkansas   07/20/2020       Yes
4         CA  California   07/18/2020       Yes

In [276]:
mask.rename(columns = {'STATE_NAME': 'Location'},inplace=True)
mask.drop(columns='State_Abrv', inplace=True)
mask.head()

     Location Mask_Mandate Mandatory
0     Alabama   07/16/2020       Yes
1      Alaska          NaN        No
2     Arizona          NaN        No
3    Arkansas   07/20/2020       Yes
4  California   07/18/2020       Yes

In [277]:
mask.to_csv('Data/cleaned_mask.csv', index = False)

#### Population Data:
1. Drop index column
2. Rename State to Location

In [278]:
pop_size = pd.read_csv('Data/Population_data_2010_&_2020.csv')

In [279]:
pop_size['Location'] = pop_size['State']

In [280]:
pop_size.head()

   Unnamed: 0       State  2010 Population  2020 Population    Location
0           0  California         37253956         39538223  California
1           1       Texas         25145561         29145505       Texas
2           2    New York         19378102         20201249    New York
3           3     Florida         18801310         21538187     Florida
4           4    Illinois         12830632         12812508    Illinois

In [281]:
pop_size.drop(columns = ['Unnamed: 0', 'State'], inplace=True)

In [282]:
pop_size.head()

   2010 Population  2020 Population    Location
0         37253956         39538223  California
1         25145561         29145505       Texas
2         19378102         20201249    New York
3         18801310         21538187     Florida
4         12830632         12812508    Illinois

In [283]:
pop_size.to_csv('Data/cleaned_pop_size.csv', index = False)

#### Population Density:
1. Drop index column
2. Rename State to Location

In [284]:
pop_dense = pd.read_csv('Data/Population_Density_data.csv')

In [285]:
pop_dense.head()

   Unnamed: 0          State Population Density per miÂ²
0           0     New Jersey                    1,283.4
1           1   Rhode Island                    1,074.3
2           2  Massachusetts                     919.82
3           3    Connecticut                      746.7
4           4       Maryland                     648.84

In [286]:
pop_dense.rename(columns={'State': 'Location'}, inplace=True)
pop_dense.drop(columns='Unnamed: 0', inplace=True)

In [287]:
pop_dense.head()

        Location Population Density per miÂ²
0     New Jersey                    1,283.4
1   Rhode Island                    1,074.3
2  Massachusetts                     919.82
3    Connecticut                      746.7
4       Maryland                     648.84

In [288]:
pop_dense.to_csv('Data/cleaned_pop_dense.csv', index = False)

#### Total Employment:
1. Rename columns with values of row 1
2. Rename year columns to total_employment_year
3. Rename GeoName to Location
4. Drop GeoFips

#### Total Physicians:
-

# Merging Cleaned Datasets

# County-Level Data

#### County conditions

In [2]:
county_cond = pd.read_csv('Data/2019 County Health Rankings Data - cleaned.csv')

In [3]:
county_cond.shape

(3142, 73)

In [4]:
county_cond.head()

,FIPS,State,County,Years of Potential Life Lost Rate (premature death),YPLL Rate (Black),YPLL Rate (Hispanic),YPLL Rate (White),% Fair/Poor Health,percent_smokers,percent_obese,...,percent 65 and over,percent African American,percent American Indian/Alaskan Native,percent Asian,percent Native Hawaiian/Other Pacific Islander,percent Hispanic,percent Non-Hispanic White,percent Not Proficient in English,percent Female,number Rural
0,1001,Alabama,Autauga,8824.0,10471.0,NaN,8707.0,18,19,38,...,15.1,19.3,0.5,1.3,0.1,2.9,74.5,1,51.3,22921.0
1,1003,Alabama,Baldwin,7225.0,10042.0,3087.0,7278.0,18,17,31,...,19.9,9.0,0.8,1.2,0.1,4.6,83.0,0,51.5,77060.0
2,1005,Alabama,Barbour,9586.0,11333.0,NaN,7310.0,26,22,44,...,18.8,47.9,0.7,0.5,0.2,4.2,46.0,1,47.2,18613.0
3,1007,Alabama,Bibb,11784.0,14813.0,NaN,11328.0,20,20,38,...,16.0,21.5,0.4,0.2,0.1,2.6,74.3,0,46.5,15663.0
4,1009,Alabama,Blount,10908.0,NaN,5620.0,11336.0,21,20,34,...,17.8,1.5,0.6,0.3,0.1,9.6,86.9,2,50.7,51562.0

In [22]:
county_cond.dtypes

FIPS                                                     int64
State                                                   object
County                                                  object
Years of Potential Life Lost Rate (premature death)    float64
YPLL Rate (Black)                                      float64
                                                        ...
percent Hispanic                                       float64
percent Non-Hispanic White                             float64
percent Not Proficient in English                        int64
percent Female                                         float64
number Rural                                           float64
Length: 73, dtype: object

#### Covid Vaccination Rates by county

In [6]:
covid_vax = pd.read_csv('Ignore/COVID-19_Vaccinations_by_county.csv')

In [7]:
covid_vax.shape

(871062, 15)

In [4]:
covid_vax.head()

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,Series_Complete_Pop_Pct,Series_Complete_65PlusPop_Pct,Booster_Doses_Vax_Pct,Booster_Doses_50Plus_Vax_Pct,Booster_Doses_65Plus_Vax_Pct,Metro_status,Census2019,Census2019_65PlusPop
0,12/28/2022,2013,52,Aleutians East Borough,AK,86.9,55.0,74.9,49.9,41.4,59.0,80.6,Non-metro,3337.0,351.0
1,12/28/2022,2016,52,Aleutians West Census Area,AK,77.8,69.9,64.2,59.9,38.6,59.8,76.1,Non-metro,5634.0,419.0
2,12/28/2022,2020,52,Anchorage Municipality,AK,79.5,95.0,70.8,95.0,49.8,67.9,77.7,Metro,288000.0,33757.0
3,12/28/2022,2050,52,Bethel Census Area,AK,74.0,89.3,68.7,86.0,51.8,74.9,82.9,Non-metro,18386.0,1448.0
4,12/28/2022,2060,52,Bristol Bay Borough,AK,95.0,95.0,95.0,91.2,41.0,67.6,88.7,Non-metro,836.0,136.0

In [12]:
# What dates do I want to keep?
9/18/2021
covid_vax[covid_vax['Date'] == '11/18/2021'].shape

(3283, 15)

In [13]:
covid_vax[covid_vax['Date'] == '9/18/2021'].shape

(3282, 15)

In [14]:
covid_vax[covid_vax['Date'] == '12/18/2021'].shape

(3283, 15)

In [18]:
covid_vax[covid_vax['Date'] == '1/31/2022'].shape

(3283, 15)

In [26]:
covid_vax[covid_vax['Date'] == '4/30/2022'].shape

(3284, 15)

In [8]:
covid_vax[covid_vax['Date'] == '10/18/2021'].shape

(3282, 15)

#### Covid Cases

In [18]:
cases = pd.read_csv('Ignore/covid_confirmed_usafacts.csv')

In [10]:
cases.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149

In [11]:
cases.shape

(3193, 1269)

In [13]:
cases.describe()

,countyFIPS,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,...,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03
mean,29898.348262,30.259004,0.226433,0.229878,0.232070,0.235202,0.237707,0.240839,0.242718,0.243971,...,3.118818e+04,3.118844e+04,3.118858e+04,3.118874e+04,3.118975e+04,3.119131e+04,3.119197e+04,3.119221e+04,3.119221e+04,3.119221e+04
std,15515.884232,15.153897,6.899731,6.977750,7.031192,7.075284,7.096643,7.160000,7.199078,7.220848,...,1.062492e+05,1.062517e+05,1.062530e+05,1.062543e+05,1.062558e+05,1.062615e+05,1.062632e+05,1.062635e+05,1.062635e+05,1.062635e+05
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,18101.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03
50%,29125.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03
75%,45055.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04
max,56045.000000,56.000000,375.000000,379.000000,382.000000,384.000000,385.000000,388.000000,390.000000,391.000000,...,3.533727e+06,3.533901e+06,3.533991e+06,3.534073e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06

In [19]:
cases['County'] = cases['County Name'].str.replace(r'\bCounty\b', '', regex=True).str.strip()

In [20]:
cases.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23,County
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Statewide Unallocated
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,Autauga
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,Baldwin
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,Barbour
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,Bibb

In [21]:
cases_county = cases[['countyFIPS', 
              'County', 
              'State', 
              'StateFIPS', 
              '2020-01-22', 
              '2020-05-01', 
              '2020-01-22',
              '2020-09-01',
              '2020-12-31',
              '2021-04-30',
              '2021-08-31',
              '2021-07-02',
              '2021-12-31',
              '2022-04-01',
              '2022-07-02',
              '2022-12-31']]

In [22]:
cases_county.shape

(3193, 16)

In [23]:
cases_county.head()

,countyFIPS,County,State,StateFIPS,2020-01-22,2020-05-01,2020-01-22,2020-09-01,2020-12-31,2021-04-30,2021-08-31,2021-07-02,2021-12-31,2022-04-01,2022-07-02,2022-12-31
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga,AL,1,0,42,0,1452,4190,6904,8758,7262,11018,15659,16562,18961
2,1003,Baldwin,AL,1,0,175,0,4568,13601,20941,33090,22043,39911,55420,58983,67496
3,1005,Barbour,AL,1,0,42,0,764,1514,2300,3060,2347,3860,5656,5899,7027
4,1007,Bibb,AL,1,0,42,0,558,1834,2594,3479,2693,4533,6417,6714,7692

In [25]:
cases_county[cases_county['2022-12-31'] == 0].shape

(21, 16)

In [26]:
cases_county[cases_county['County'] == 'Statewide Unallocated']

,countyFIPS,County,State,StateFIPS,2020-01-22,2020-05-01,2020-01-22,2020-09-01,2020-12-31,2021-04-30,2021-08-31,2021-07-02,2021-12-31,2022-04-01,2022-07-02,2022-12-31
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,0,0,0,0,0,0
68,0,Statewide Unallocated,AK,2,0,10,0,0,0,15,14,14,0,0,0,0
98,0,Statewide Unallocated,AZ,4,0,0,0,0,0,1,1,1,1,407,1,1000
114,0,Statewide Unallocated,AR,5,0,160,0,897,2819,2827,3033,2965,3033,3033,3033,3033
190,0,Statewide Unallocated,CA,6,0,21,0,21,21,10,0,11,6708,4182,2751,4479
249,0,Statewide Unallocated,CO,8,0,201,0,20,27,66,89,76,80,80,80,80
314,0,Statewide Unallocated,CT,9,0,371,0,107,665,1167,1263,1180,1880,2872,2616,2616
323,0,Statewide Unallocated,DE,10,0,24,0,289,136,215,238,227,706,920,984,1122
327,0,Statewide Unallocated,DC,11,0,0,0,0,0,0,0,0,0,0,0,0
329,0,Statewide Unallocated,FL,12,0,8,0,1027,3010,3497,90124,3017,56512,11680,18669,3017
397,0,Statewide Unallocated,GA,13,0,1089,0,18633,24741,25989,31733,25945,40506,71959,77525,86185
557,0,Statewide Unallocated,HI,15,0,9,0,25,286,1049,2149,1378,3356,6119,7449,11109
563,0,Statewide Unallocated,ID,16,0,0,0,4,1,0,0,0,0,0,0,0
608,0,Statewide Unallocated,IL,17,0,363,0,80,164,102,106,63,284,284,123537,584295
711,0,Statewide Unallocated,IN,18,0,0,0,0,0,0,0,0,0,0,80767,247589
804,0,Statewide Unallocated,IA,19,0,63,0,14,669,1000,7,958,7886,617,1984,71
904,0,Statewide Unallocated,KS,20,0,0,0,0,0,0,0,0,0,0,0,0
1010,0,Statewide Unallocated,KY,21,0,56,0,0,1,9,9,9,9,2561,2496,2504
1131,0,Statewide Unallocated,LA,22,0,63,0,186,399,411,470,388,617,978,1042,1150
1196,0,Statewide Unallocated,ME,23,0,0,0,0,1,1,1,1,16,5,18,5
1213,0,Statewide Unallocated,MD,24,0,0,0,0,0,0,0,0,26207,465,1592,56259
1238,0,Statewide Unallocated,MA,25,0,425,0,1616,1937,1449,1449,1449,1449,1798,1616,1449
1253,0,Statewide Unallocated,MI,26,0,1674,0,5633,23777,28749,29088,28724,33027,44317,45742,51200
1337,0,Statewide Unallocated,MN,27,0,0,0,164,444,514,499,480,624,779,893,893
1425,0,Statewide Unallocated,MS,28,0,0,0,0,0,0,0,0,0,0,0,0
1508,0,Statewide Unallocated,MO,29,0,0,0,0,0,0,0,0,0,0,0,0
1624,0,Statewide Unallocated,MT,30,0,0,0,0,0,0,0,0,0,0,0,0
1681,0,Statewide Unallocated,NE,31,0,6,0,0,0,0,19717,3412,8188,3757,26607,61427
1775,0,Statewide Unallocated,NV,32,0,18,0,0,0,0,0,0,0,0,0,0
1793,0,Statewide Unallocated,NH,33,0,15,0,2,883,1107,1038,1038,3773,7318,2583,13245
1804,0,Statewide Unallocated,NJ,34,0,583,0,316,1057,1213,821,816,2994,3318,6586,1668
1826,0,Statewide Unallocated,NM,35,0,0,0,1321,3360,4115,4756,4350,5387,6702,6905,7161
1860,0,Statewide Unallocated,NY,36,0,69,0,69,69,0,0,0,0,0,0,0
1923,0,Statewide Unallocated,NC,37,0,3,0,0,82,11,11,11,641,11,11,11
2024,0,Statewide Unallocated,ND,38,0,0,0,0,0,0,0,0,0,0,0,0
2078,0,Statewide Unallocated,OH,39,0,0,0,1,0,0,0,0,0,0,0,0
2167,0,Statewide Unallocated,OK,40,0,0,0,60,236,20,183,2,12271,3190,13856,87
2245,0,Statewide Unallocated,OR,41,0,0,0,0,0,0,0,0,2,0,108536,206185
2282,0,Statewide Unallocated,PA,42,0,0,0,0,0,0,0,0,0,0,0,0
2350,0,Statewide Unallocated,RI,44,0,897,0,771,3624,13086,14779,12008,24944,9612,9954,8277
2356,0,Statewide Unallocated,SC,45,0,0,0,0,0,0,0,0,0,0,0,0
2403,0,Statewide Unallocated,SD,46,0,0,0,0,0,0,0,0,0,0,0,0
2470,0,Statewide Unallocated,TN,47,0,156,0,2274,22245,35219,41074,30602,56452,85316,189342,424396
2566,0,Statewide Unallocated,TX,48,0,0,0,0,0,0,0,0,0,74965,81083,298235
2821,0,Statewide Unallocated,UT,49,0,0,0,28,743,2854,10506,4774,27000,49056,52569,68720
2851,0,Statewide Unallocated,VT,50,0,3,0,8,9,12,21,20,623,1028,1967,2981
2866,0,Statewide Unallocated,VA,51,0,0,0,0,0,0,0,0,0,0,0,0
3000,0,Statewide Unallocated,WA,53,0,77,0,273,1489,1491,1607,1517,1573,3275,3300,3296
3040,0,Statewide Unallocated,WV,54,0,0,0,0,0,0,0,0,0,0,0,0
3096,0,Statewide Unallocated,WI,55,0,0,0,0,750,0,0,226,0,0,0,0
3169,0,Statewide Unallocated,WY,56,0,0,0,0,0,0,0,0,0,0,0,0

***We need to determine how we want to handle the Statewide Unallocated- increase the number of cases per county based on the county's portion of the population?***

- to handle it this way we would need to append the county population size to this df/ merge with a different df
- then calculate pop_prop = county_pop/ state_pop
- then increase covid cases for each county within a state