In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('data/total physician.csv')

In [8]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Total Population,Total Active Physicians*,NaN,NaN,Active MDs,NaN,Active DOs,NaN,NaN
1,NaN,NaN,Number,"Rate per 100,000",Rank,Number,"Rate per 100,000",Number,"Rate per 100,000",NaN
2,United States,"328,239,523","940,254",286.5,N.R.,"861,912",262.6,"78,281",23.8,NaN
3,Alabama,"4,903,185","10,983",224.0,43,"10,389",211.9,594,12.1,NaN
4,Alaska,"731,545","2,101",287.2,21,"1,825",249.5,276,37.7,NaN
5,Arizona,"7,278,717","18,343",252.0,31,"15,989",219.7,"2,353",32.3,NaN
6,Arkansas,"3,017,804","6,500",215.4,46,"6,132",203.2,368,12.2,NaN
7,California,"39,512,223","113,718",287.8,20,"107,383",271.8,"6,333",16.0,NaN
8,Colorado,"5,758,736","16,956",294.4,17,"15,270",265.2,"1,685",29.3,NaN
9,Connecticut,"3,565,287","12,977",364.0,6,"12,453",349.3,523,14.7,NaN
10,Delaware,"973,764","2,850",292.7,19,"2,484",255.1,366,37.6,NaN
11,District of Columbia,"705,749","6,147",871.0,N.R.,"5,992",849.0,154,21.8,NaN
12,Florida,"21,477,737","58,822",273.9,25,"53,328",248.3,"5,486",25.5,NaN
13,Georgia,"10,617,423","25,072",236.1,38,"23,832",224.5,"1,237",11.7,NaN
14,Hawaii,"1,415,872","4,557",321.9,10,"4,293",303.2,264,18.6,NaN
15,Idaho,"1,787,065","3,504",196.1,50,"2,973",166.4,531,29.7,NaN
16,Illinois,"12,671,821","37,122",292.9,18,"34,485",272.1,"2,630",20.8,NaN
17,Indiana,"6,732,219","15,918",236.4,37,"14,662",217.8,"1,255",18.6,NaN
18,Iowa,"3,155,070","7,056",223.6,44,"5,669",179.7,"1,387",44.0,NaN
19,Kansas,"2,913,314","6,874",236.0,39,"6,054",207.8,820,28.1,NaN
20,Kentucky,"4,467,673","10,528",235.6,40,"9,758",218.4,770,17.2,NaN
21,Louisiana,"4,648,794","12,557",270.1,26,"12,261",263.7,296,6.4,NaN
22,Maine,"1,344,212","4,459",331.7,7,"3,691",274.6,768,57.1,NaN
23,Maryland,"6,045,680","23,791",393.5,2,"22,915",379.0,876,14.5,NaN
24,Massachusetts,"6,892,503","32,116",466.0,1,"31,123",451.5,990,14.4,NaN
25,Michigan,"9,986,857","30,040",300.8,15,"24,534",245.7,"5,499",55.1,NaN
26,Minnesota,"5,639,632","17,617",312.4,12,"16,702",296.2,915,16.2,NaN
27,Mississippi,"2,976,149","5,857",196.8,49,"5,370",180.4,487,16.4,NaN
28,Missouri,"6,137,428","18,297",298.1,16,"14,888",242.6,"3,408",55.5,NaN
29,Montana,"1,068,778","2,750",257.3,30,"2,474",231.5,276,25.8,NaN
30,Nebraska,"1,934,408","4,820",249.2,34,"4,537",234.5,283,14.6,NaN
31,Nevada,"3,080,156","6,731",218.5,45,"5,648",183.4,"1,083",35.2,NaN
32,New Hampshire,"1,359,711","4,391",322.9,9,"3,996",293.9,395,29.1,NaN
33,New Jersey,"8,882,190","27,832",313.3,11,"24,622",277.2,"3,208",36.1,NaN
34,New Mexico,"2,096,829","5,269",251.3,32,"4,929",235.1,340,16.2,NaN
35,New York,"19,453,561","75,749",389.4,3,"71,442",367.2,"4,300",22.1,NaN
36,North Carolina,"10,488,084","27,650",263.6,28,"26,024",248.1,"1,626",15.5,NaN
37,North Dakota,"762,062","1,826",239.6,35,"1,722",226.0,104,13.6,NaN
38,Ohio,"11,689,100","35,333",302.3,14,"30,747",263.0,"4,583",39.2,NaN
39,Oklahoma,"3,956,971","8,293",209.6,48,"6,474",163.6,"1,815",45.9,NaN
40,Oregon,"4,217,737","13,127",311.2,13,"12,084",286.5,"1,042",24.7,NaN
41,Pennsylvania,"12,801,989","42,051",328.5,8,"36,134",282.3,"5,916",46.2,NaN
42,Puerto Rico,"3,193,694","9,813",307.3,N.R.,"9,811",307.2,2,0.1,NaN
43,Rhode Island,"1,059,361","4,063",383.5,5,"3,805",359.2,257,24.3,NaN
44,South Carolina,"5,148,714","12,197",236.9,36,"11,364",220.7,833,16.2,NaN
45,South Dakota,"884,659","2,214",250.3,33,"2,017",228.0,197,22.3,NaN
46,Tennessee,"6,829,174","17,687",259.0,29,"16,722",244.9,965,14.1,NaN
47,Texas,"28,995,881","67,182",231.7,41,"62,219",214.6,"4,960",17.1,NaN
48,Utah,"3,205,958","7,198",224.5,42,"6,515",203.2,683,21.3,NaN
49,Vermont,"623,989","2,410",386.2,4,"2,312",370.5,98,15.7,NaN
50,Virginia,"8,535,519","22,874",268.0,27,"21,378",250.5,"1,494",17.5,NaN
51,Washington,"7,614,893","21,731",285.4,22,"20,282",266.3,"1,449",19.0,NaN
52,West Virginia,"1,792,147","4,914",274.2,24,"4,112",229.4,801,44.7,NaN
53,Wisconsin,"5,822,434","15,975",274.4,23,"14,817",254.5,"1,158",19.9,NaN
54,Wyoming,"578,759","1,225",211.7,47,"1,081",186.8,144,24.9,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN