### Imports

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# State Level Data

### Census Population

##### 2020
Used webscraping to obtain population data for the years 2010 and 2020 from the US census cite.

In [12]:
# Census site url
url = 'https://www.census.gov/quickfacts/quickfacts/geo/dashboard/US/POP010220'
res = requests.get(url)

In [13]:
soup = BeautifulSoup(res.content)
table = soup.find(attrs={'class':'qf-graph-scroll'})
# soup.find_all(attrs={'class':'qf-positive'})
tbody = table.find_all(attrs={'class':"qf-graph-geo"})
tr = tbody[1]
state = tr.find('a').attrs['data-title']
tr.find(attrs={'class':'qf-positive'}).attrs['data-value']

'29145505'

In [14]:
pop_2020 = []
for tr in tbody:
    state = tr.find('a').attrs['data-title']
    pop = tr.find(attrs={'class':'qf-positive'}).attrs['data-value']
    
    state_pop = {'State': state, '2020 Population': pop}
    pop_2020.append(state_pop)

pop_2020 = pd.DataFrame(pop_2020)
pop_2020.head()

          State 2020 Population
0    California        39538223
1         Texas        29145505
2       Florida        21538187
3      New York        20201249
4  Pennsylvania        13002700

##### 2010
The same process was followed for the year 2010.

In [15]:
url2 = 'https://www.census.gov/quickfacts/quickfacts/geo/dashboard/US/POP010210'
res2 = requests.get(url2)

In [16]:
soup2 = BeautifulSoup(res2.content)
table2 = soup2.find(attrs={'class':'qf-graph-scroll'})
tbody2 = table2.find_all(attrs={'class':"qf-graph-geo"})

In [17]:
pop_2010 = []
for tr in tbody2:
    state = tr.find('a').attrs['data-title']
    pop = tr.find(attrs={'class':'qf-positive'}).attrs['data-value']
    
    state_pop = {'State': state, '2010 Population': pop}
    pop_2010.append(state_pop)

pop_2010 = pd.DataFrame(pop_2010)

population = pd.merge(pop_2010, pop_2020)
population.head()

        State 2010 Population 2020 Population
0  California        37253956        39538223
1       Texas        25145561        29145505
2    New York        19378102        20201249
3     Florida        18801310        21538187
4    Illinois        12830632        12812508

In [8]:
population.dtypes

State              object
2010 Population    object
2020 Population    object
dtype: object

In [18]:
# 
population[['2010 Population', '2020 Population']] = population[['2010 Population',
                                                                 '2020 Population']].astype(int)
population.to_csv('../Data/Population_data_2010_&_2020.csv', index=False)

### Excess Deaths Data

In [3]:
deaths = pd.read_csv('../Ignore/Excess_Deaths_Associated_with_COVID-19.csv')
deaths.head(100)

,Week Ending Date,State,Observed Number,Upper Bound Threshold,Exceeds Threshold,Average Expected Count,Excess Estimate,Total Excess Estimate,Percent Excess Estimate,Year,Type,Outcome,Suppress,Note
0,2017-01-07,Alabama,1121.0,1136,False,1059,62,29601,5.852700,2017,Predicted (weighted),All causes,NaN,NaN
1,2017-01-14,Alabama,1130.0,1140,False,1067,63,29601,5.906102,2017,Predicted (weighted),All causes,NaN,NaN
2,2017-01-21,Alabama,1048.0,1142,False,1071,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
3,2017-01-28,Alabama,1026.0,1142,False,1070,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
4,2017-02-04,Alabama,1036.0,1142,False,1068,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
5,2017-02-11,Alabama,1058.0,1136,False,1062,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
6,2017-02-18,Alabama,1060.0,1132,False,1057,3,29601,0.283804,2017,Predicted (weighted),All causes,NaN,NaN
7,2017-02-25,Alabama,1099.0,1126,False,1051,48,29601,4.567542,2017,Predicted (weighted),All causes,NaN,NaN
8,2017-03-04,Alabama,1081.0,1119,False,1042,39,29601,3.743414,2017,Predicted (weighted),All causes,NaN,NaN
9,2017-03-11,Alabama,1011.0,1113,False,1036,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
10,2017-03-18,Alabama,1067.0,1106,False,1031,36,29601,3.492281,2017,Predicted (weighted),All causes,NaN,NaN
11,2017-03-25,Alabama,1068.0,1097,False,1021,47,29601,4.601515,2017,Predicted (weighted),All causes,NaN,NaN
12,2017-04-01,Alabama,991.0,1090,False,1014,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
13,2017-04-08,Alabama,1037.0,1083,False,1007,30,29601,2.980237,2017,Predicted (weighted),All causes,NaN,NaN
14,2017-04-15,Alabama,1017.0,1066,False,992,25,29601,2.519156,2017,Predicted (weighted),All causes,NaN,NaN
15,2017-04-22,Alabama,966.0,1058,False,986,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
16,2017-04-29,Alabama,996.0,1053,False,982,14,29601,1.425162,2017,Predicted (weighted),All causes,NaN,NaN
17,2017-05-06,Alabama,907.0,1046,False,975,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
18,2017-05-13,Alabama,1064.0,1041,True,972,92,29601,9.464901,2017,Predicted (weighted),All causes,NaN,NaN
19,2017-05-20,Alabama,998.0,1037,False,967,31,29601,3.206491,2017,Predicted (weighted),All causes,NaN,NaN
20,2017-05-27,Alabama,988.0,1031,False,961,27,29601,2.810937,2017,Predicted (weighted),All causes,NaN,NaN
21,2017-06-03,Alabama,925.0,1026,False,957,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
22,2017-06-10,Alabama,984.0,1020,False,952,32,29601,3.362139,2017,Predicted (weighted),All causes,NaN,NaN
23,2017-06-17,Alabama,918.0,1017,False,949,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
24,2017-06-24,Alabama,961.0,1011,False,946,15,29601,1.585022,2017,Predicted (weighted),All causes,NaN,NaN
25,2017-07-01,Alabama,925.0,1012,False,946,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
26,2017-07-08,Alabama,954.0,1010,False,943,11,29601,1.166744,2017,Predicted (weighted),All causes,NaN,NaN
27,2017-07-15,Alabama,968.0,1010,False,943,25,29601,2.650203,2017,Predicted (weighted),All causes,NaN,NaN
28,2017-07-22,Alabama,964.0,1009,False,944,20,29601,2.119529,2017,Predicted (weighted),All causes,NaN,NaN
29,2017-07-29,Alabama,888.0,1008,False,941,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
30,2017-08-05,Alabama,949.0,1006,False,941,8,29601,0.850364,2017,Predicted (weighted),All causes,NaN,NaN
31,2017-08-12,Alabama,936.0,1008,False,941,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
32,2017-08-19,Alabama,933.0,1011,False,946,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
33,2017-08-26,Alabama,917.0,1011,False,946,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
34,2017-09-02,Alabama,953.0,1015,False,947,6,29601,0.633306,2017,Predicted (weighted),All causes,NaN,NaN
35,2017-09-09,Alabama,960.0,1019,False,951,9,29601,0.945939,2017,Predicted (weighted),All causes,NaN,NaN
36,2017-09-16,Alabama,968.0,1021,False,955,13,29601,1.360750,2017,Predicted (weighted),All causes,NaN,NaN
37,2017-09-23,Alabama,995.0,1025,False,959,36,29601,3.753648,2017,Predicted (weighted),All causes,NaN,NaN
38,2017-09-30,Alabama,1019.0,1032,False,964,55,29601,5.708283,2017,Predicted (weighted),All causes,NaN,NaN
39,2017-10-07,Alabama,948.0,1041,False,969,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
40,2017-10-14,Alabama,986.0,1045,False,974,12,29601,1.232486,2017,Predicted (weighted),All causes,NaN,NaN
41,2017-10-21,Alabama,966.0,1056,False,984,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
42,2017-10-28,Alabama,941.0,1066,False,992,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
43,2017-11-04,Alabama,994.0,1077,False,1003,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
44,2017-11-11,Alabama,994.0,1087,False,1011,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
45,2017-11-18,Alabama,982.0,1100,False,1022,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
46,2017-11-25,Alabama,1004.0,1116,False,1037,0,29601,0.000000,2017,Predicted (weighted),All causes,NaN,NaN
47,2017-12-02,Alabama,1067.0,1124,False,1045,22,29601,2.105406,2017,Predicted (weighted),All causes,NaN,NaN
48,2017-12-09,Alabama,1074.0,1136,False,1056,18,29601,1.704536,2017,Predicted (weighted),All causes,NaN,NaN
49,2017-12-16,Alabama,1120.0,1141,False,1063,57,29601,5.363048,2017,Predicted (weighted),All causes,NaN,NaN
50,2017-12-23,Alabama,1098.0,1148,False,1072,26,29601,2.425575,2017,Predicted (weighted),All causes,NaN,NaN
51,2017-12-30,Alabama,1080.0,1154,False,1079,1,29601,0.092679,2017,Predicted (weighted),All causes,NaN,NaN
52,2018-01-06,Alabama,1248.0,1157,True,1082,166,29601,15.344761,2018,Predicted (weighted),All causes,NaN,NaN
53,2018-01-13,Alabama,1301.0,1161,True,1089,212,29601,19.470122,2018,Predicted (weighted),All causes,NaN,NaN
54,2018-01-20,Alabama,1275.0,1163,True,1092,183,29601,16.757570,2018,Predicted (weighted),All causes,NaN,NaN
55,2018-01-27,Alabama,1286.0,1162,True,1091,195,29601,17.865552,2018,Predicted (weighted),All causes,NaN,NaN
56,2018-02-03,Alabama,1147.0,1165,False,1093,54,29601,4.939537,2018,Predicted (weighted),All causes,NaN,NaN
57,2018-02-10,Alabama,1181.0,1158,True,1086,95,29601,8.751065,2018,Predicted (weighted),All causes,NaN,NaN
58,2018-02-17,Alabama,1096.0,1151,False,1079,17,29601,1.574903,2018,Predicted (weighted),All causes,NaN,NaN
59,2018-02-24,Alabama,1099.0,1146,False,1073,26,29601,2.423329,2018,Predicted (weighted),All causes,NaN,NaN
60,2018-03-03,Alabama,985.0,1131,False,1060,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
61,2018-03-10,Alabama,1059.0,1129,False,1054,5,29601,0.474343,2018,Predicted (weighted),All causes,NaN,NaN
62,2018-03-17,Alabama,1086.0,1123,False,1049,37,29601,3.526878,2018,Predicted (weighted),All causes,NaN,NaN
63,2018-03-24,Alabama,993.0,1115,False,1041,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
64,2018-03-31,Alabama,995.0,1103,False,1030,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
65,2018-04-07,Alabama,1012.0,1098,False,1024,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
66,2018-04-14,Alabama,1026.0,1079,False,1010,16,29601,1.583621,2018,Predicted (weighted),All causes,NaN,NaN
67,2018-04-21,Alabama,1031.0,1072,False,1004,27,29601,2.689805,2018,Predicted (weighted),All causes,NaN,NaN
68,2018-04-28,Alabama,971.0,1064,False,998,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
69,2018-05-05,Alabama,1039.0,1059,False,991,48,29601,4.844619,2018,Predicted (weighted),All causes,NaN,NaN
70,2018-05-12,Alabama,950.0,1050,False,983,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
71,2018-05-19,Alabama,1005.0,1047,False,978,27,29601,2.760170,2018,Predicted (weighted),All causes,NaN,NaN
72,2018-05-26,Alabama,977.0,1038,False,971,6,29601,0.617714,2018,Predicted (weighted),All causes,NaN,NaN
73,2018-06-02,Alabama,973.0,1030,False,965,8,29601,0.829385,2018,Predicted (weighted),All causes,NaN,NaN
74,2018-06-09,Alabama,1011.0,1027,False,961,50,29601,5.203200,2018,Predicted (weighted),All causes,NaN,NaN
75,2018-06-16,Alabama,940.0,1021,False,956,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
76,2018-06-23,Alabama,974.0,1015,False,952,22,29601,2.311186,2018,Predicted (weighted),All causes,NaN,NaN
77,2018-06-30,Alabama,927.0,1017,False,953,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
78,2018-07-07,Alabama,972.0,1016,False,952,20,29601,2.101657,2018,Predicted (weighted),All causes,NaN,NaN
79,2018-07-14,Alabama,994.0,1016,False,950,44,29601,4.630952,2018,Predicted (weighted),All causes,NaN,NaN
80,2018-07-21,Alabama,959.0,1011,False,948,11,29601,1.160416,2018,Predicted (weighted),All causes,NaN,NaN
81,2018-07-28,Alabama,930.0,1012,False,949,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
82,2018-08-04,Alabama,962.0,1014,False,950,12,29601,1.263404,2018,Predicted (weighted),All causes,NaN,NaN
83,2018-08-11,Alabama,969.0,1017,False,952,17,29601,1.785847,2018,Predicted (weighted),All causes,NaN,NaN
84,2018-08-18,Alabama,938.0,1023,False,957,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
85,2018-08-25,Alabama,943.0,1020,False,958,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
86,2018-09-01,Alabama,936.0,1025,False,960,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
87,2018-09-08,Alabama,944.0,1028,False,962,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
88,2018-09-15,Alabama,912.0,1032,False,966,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
89,2018-09-22,Alabama,998.0,1035,False,971,27,29601,2.780890,2018,Predicted (weighted),All causes,NaN,NaN
90,2018-09-29,Alabama,972.0,1039,False,975,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
91,2018-10-06,Alabama,945.0,1047,False,979,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
92,2018-10-13,Alabama,943.0,1054,False,986,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
93,2018-10-20,Alabama,971.0,1064,False,997,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
94,2018-10-27,Alabama,993.0,1074,False,1006,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
95,2018-11-03,Alabama,927.0,1085,False,1015,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
96,2018-11-10,Alabama,963.0,1100,False,1024,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
97,2018-11-17,Alabama,1055.0,1121,False,1039,16,29601,1.539364,2018,Predicted (weighted),All causes,NaN,NaN
98,2018-11-24,Alabama,1009.0,1133,False,1051,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN
99,2018-12-01,Alabama,1050.0,1141,False,1061,0,29601,0.000000,2018,Predicted (weighted),All causes,NaN,NaN

In [4]:
covid = deaths[(deaths['Type']=='Predicted (weighted)')&((deaths['Outcome'] == 'All causes') | (deaths['Outcome'] == 'All causes, excluding COVID-19')) & 
       (deaths['Year'] == 2020) | (deaths['Year'] == 2021) | (deaths['Year'] == 2022)]

In [5]:
covid['Type'].value_counts()

Predicted (weighted)    16956
Unweighted               5670
Name: Type, dtype: int64

In [6]:
covid['Outcome'].value_counts()

All causes                        14148
All causes, excluding COVID-19     8478
Name: Outcome, dtype: int64

In [7]:
covid = deaths[(deaths['Type'] == 'Predicted (weighted)') & 
               ((deaths['Outcome'] == 'All causes') | (deaths['Outcome'] == 'All causes, excluding COVID-19')) & 
               (deaths['Year'].isin([2020, 2021, 2022]))]

def covid_deaths(data):
    grouped = data.groupby(['Year', 'State', 'Outcome'])['Excess Estimate'].sum().reset_index()
    pivoted = grouped.pivot(index=['Year', 'State'], columns='Outcome', 
                            values='Excess Estimate').reset_index()
    pivoted = pivoted.fillna(0)
    pivoted['covid'] = pivoted['All causes'] - pivoted['All causes, excluding COVID-19']
    pivoted.rename(columns={'Year': 'Location'}, inplace=True)
    results = pivoted.to_dict(orient='records')

    return results

deaths_covid = pd.DataFrame(covid_deaths(covid))

In [8]:
deaths_covid = deaths_covid.pivot(index='State', columns='Location', 
                                  values=['All causes', 'covid'])

deaths_covid.columns = ['_'.join(map(str, col)) for col in deaths_covid.columns]
deaths_covid = deaths_covid.reset_index()
deaths_covid.rename(columns={'State': 'Location'}, inplace=True)
deaths_covid.rename(columns={
    'All causes_2020': 'all_causes_2020',
    'All causes_2021': 'all_causes_2021',
    'All causes_2022': 'all_causes_2022',
    'covid_2020': 'covid_2020',
    'covid_2021': 'covid_2021',
    'covid_2022': 'covid_2022',
}, inplace=True)
deaths_covid.head()

,Location,all_causes_2020,all_causes_2021,all_causes_2022,covid_2020,covid_2021,covid_2022
0,Alabama,9021,13018,6246,6337,9771,3933
1,Alaska,545,1429,686,213,804,275
2,Arizona,13186,17961,8835,8603,13536,5849
3,Arkansas,4992,6908,3854,3691,5333,2593
4,California,41279,60680,36786,29962,48834,21158

In [9]:
deaths_covid.dtypes

Location           object
all_causes_2020     int64
all_causes_2021     int64
all_causes_2022     int64
covid_2020          int64
covid_2021          int64
covid_2022          int64
dtype: object

In [10]:
(deaths_covid[['covid_2020', 'covid_2021', 'covid_2022']].sum()).sum()

2045325

In [19]:
deaths_covid['Location_Upper'] = deaths_covid['Location'].str.upper()
population['State_Upper'] = population['State'].str.upper()

for year in [2020, 2021, 2022]:
    deaths_covid[f'Covid_pop_perce_{year}'] = (
        deaths_covid.apply(
            lambda row: (
                row[f'covid_{year}'] /
                population.loc[
                    population['State_Upper'] == row['Location_Upper'],
                    '2020 Population'
                ].values
            )[0] if row['Location_Upper'] in population['State_Upper'].values else None,
            axis=1
        )
    )

deaths_covid.head()

,Location,all_causes_2020,all_causes_2021,all_causes_2022,covid_2020,covid_2021,covid_2022,Location_Upper,Covid_pop_perce_2020,Covid_pop_perce_2021,Covid_pop_perce_2022
0,Alabama,9021,13018,6246,6337,9771,3933,ALABAMA,0.001261,0.001945,0.000783
1,Alaska,545,1429,686,213,804,275,ALASKA,0.000290,0.001096,0.000375
2,Arizona,13186,17961,8835,8603,13536,5849,ARIZONA,0.001203,0.001893,0.000818
3,Arkansas,4992,6908,3854,3691,5333,2593,ARKANSAS,0.001226,0.001771,0.000861
4,California,41279,60680,36786,29962,48834,21158,CALIFORNIA,0.000758,0.001235,0.000535

In [20]:
deaths_covid.dropna(inplace=True)
deaths_covid.drop(columns=['Location_Upper'], inplace=True)

In [22]:
deaths_covid.to_csv('../Data/Cleaned/cleaned_covid_death_state.csv', index = False)

In [23]:
# getting sum of each states excess deaths 
def excess_deaths(deaths, start_year=2017, end_year=2022):
    state_totals = {state: [0] * (end_year - start_year + 1) for state in 
                    deaths['State'].unique()}
    
    for index, row in deaths.iterrows():
        state = row['State']
        year = row['Year']
        excess_estimate = row['Excess Estimate']
        
        if start_year <= year <= end_year:
            state_totals[state][year - start_year] += excess_estimate

    result = pd.DataFrame(state_totals).T.reset_index()
    result.columns = ['Location'] + [f'Exc_deaths_{year}' for year in 
                                  range(start_year, end_year + 1)]
    
    return result


excess_deaths = excess_deaths(deaths)
excess_deaths.head()

,Location,Exc_deaths_2017,Exc_deaths_2018,Exc_deaths_2019,Exc_deaths_2020,Exc_deaths_2021,Exc_deaths_2022
0,Alabama,2649,4062,945,20726,29283,14805
1,Alaska,417,492,639,1422,3483,1783
2,Arizona,3522,4281,1785,30955,40347,20653
3,Arkansas,3054,2199,1434,11285,15391,8969
4,California,17241,13434,1029,93875,133206,89195

In [25]:
excess_deaths.to_csv('../Data/Cleaned/excess_deaths.csv', index = False)

In [ ]:
# Getting count for each year and each state where they exceed their threshold
def count_exceeds_threshold(deaths, start_year=2017, end_year=2022):
    result = pd.DataFrame()
    
    for year in range(start_year, end_year + 1):
        
        year_data = deaths[deaths['Year'] == year]
        year_counts = year_data.groupby('State')['Exceeds Threshold'].sum().reset_index()
        year_counts = year_counts.rename(columns={'Exceeds Threshold': f'Exc_count_{year}'})
        year_counts.set_index('State', inplace=True)
        
        if result.empty:
            result = year_counts
        else:
            result = result.merge(year_counts, left_index=True, right_index=True, how='outer')
    
    result = result.reset_index().fillna(0)
    
    return result

In [ ]:
def count_exceeds_threshold(deaths, start_year=2017, end_year=2022):
    results = []
    
    for year in range(start_year, end_year + 1):
        year_counts = deaths[deaths['Year'] == year]
        state_counts = {}
        
        for state in year_counts['State'].unique():
            count = year_counts[(year_counts['State'] == state) & (year_counts['Exceeds Threshold'] == 'True')].shape[0]
            state_counts[state] = count
        
        results.append({'Year': year, **state_counts})
    
    return pd.DataFrame(results)

exceeds_threshold = count_exceeds_threshold(deaths, start_year=2017, end_year=2022)
exceeds_threshold

In [ ]:
deaths["Week Ending Date"] = pd.to_datetime(deaths["Week Ending Date"])
deaths["Year"] = deaths["Week Ending Date"].dt.year
exceeds_threshold = deaths[deaths["Exceeds Threshold"] == True]
result = exceeds_threshold.groupby(["State", "Year"]).size().reset_index(name="Exceeds Threshold Count")

result

In [ ]:
# Merging the data
finaldeaths = pd.merge(excess_deaths, exceeds_threshold, how='left')
finaldeaths.rename(columns={'State':'Location'}, inplace=True)
finaldeaths.head()

In [ ]:
#finaldeaths.to_csv('Data/Excess_deaths&Exceeds_Threshold_data.csv')

In [ ]:
url3 = 'https://wisevoter.com/state-rankings/population-density-by-state/'
res3 = requests.get(url3)
soup3 = BeautifulSoup(res3.content)

In [ ]:
table3 = soup3.find('table', attrs={'id': 'shdb-on-page-table'})
tbody = table3.find('tbody')
trs = tbody.find_all('tr')

In [ ]:
pop_density = []
for tr in trs:
    state = tr.find(attrs={'class':'shdb-on-page-table-body-Geo'}).text
    density = tr.find(attrs={'class':'shdb-on-page-table-body-Data'}).text.split()[0]
    
    state_density = {'State':state, 'Population Density per mi²': density}
    pop_density.append(state_density)
Pop_density = pd.DataFrame(pop_density)
Pop_density.head()

In [ ]:
Pop_density.to_csv('Data/Population_Density_data.csv')

## Pre-Existing Medical Conditions

### Asthma

CSV files with information on asthma, diabetes, cancer, copd, heart disease, kidney disease incident rates/ prevalence rates were downloaded from the CDC website. These csv files are each approximately 40 MB with responses to various questions, rates by demographic as well as overall population totals for more than a decade. Each dataset must be cleaned and unecessary information dropped to reduce the files to a manageable size.

In [ ]:
asthma = pd.read_csv('Ignore/Asthma.csv')
asthma.shape

In [ ]:
asthma.head()

In [ ]:
asthma.Question.value_counts()

In [ ]:
asthma.describe()

In [ ]:
# We only need data for pre-existing conditions for 1 year
asthma = asthma[asthma['YearStart'] == 2019]

In [ ]:
asthma.shape

In [ ]:
asthma.YearStart.value_counts()

In [ ]:
asthma = asthma[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue',
                 'Stratification1', 'DataValueType']]
asthma.head(), astha.shape

In [ ]:
asthma['LocationDesc'].nunique()

In [ ]:
asthma.drop_duplicates(inplace=True)
asthma = asthma[asthma['Stratification1'] == 'Overall']
asthma.shape

### Defining a cleaning function for all pre-existing medical condition data
Data for a range of medical conditions at the state level were all collected from the CDC site. Information for each disease was downloaded as a CSV with similar columns and structure to the asthma dataset. Using the steps above, each dataset was cleaned with a cleaning function.

In [ ]:
def cleaning(df):
    print(df.shape)
    df = df[df['YearStart'] == 2019]
    print(df.shape)
    df = df[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1', 'DataValueType']]
    print(df.shape)
    df = df[df['Stratification1'] == 'Overall']
    return df

The pre-existing conditions are:
- cardiovascular disease
- high blood pressure
- COPD
- Diabetes
- Kidney Disease

These conditions were chosen as these conditions are known to exacerbate the impacts of coronavirus and individuals with these conditions were more likely to have more severe cases and to die if infected with coronavirus. 

Immunization data including influenza vaccination rates was also collected.

In [ ]:
heart = pd.read_csv('Ignore/Cardiovascular.csv')
heart.head()

In [ ]:
# Splitting cardiac dataset into deaths from cardio diseases and diagnosed prevalence of hypertension
cardiac_mortality = heart[heart['Question'] == 'Mortality from total cardiovascular diseases']
print(cardiac_mortality.shape)

high_blood_pressure = heart[heart['Question']== 'Awareness of high blood pressure among adults aged >= 18 years']
print(high_blood_pressure.shape)

In [ ]:
copd = pd.read_csv('Ignore/COPD.csv')
copd.shape

In [ ]:
copd.Question.value_counts()
copd = copd[copd['Question']== 'Prevalence of chronic obstructive pulmonary disease among adults >= 18']
copd.shape

In [ ]:
diabetes = pd.read_csv('Ignore/Diabetes.csv')
diabetes.shape

In [ ]:
diabetes['Question'].value_counts()
diabetes = diabetes[diabetes['Question']== 'Prevalence of diagnosed diabetes among adults aged >= 18 years']
diabetes.shape

In [ ]:
kidney = pd.read_csv('Ignore/Kidney.csv')

In [ ]:
kidney['Question'].value_counts()
kidney = kidney[kidney['Question']== 'Prevalence of chronic kidney disease among adults aged >= 18 years']
kidney.shape

In [ ]:
cardiac_mortality = cleaning(cardiac_mortality)
high_blood_pressure = cleaning(high_blood_pressure)
copd = cleaning(copd)
diabetes = cleaning(diabetes)
immun = cleaning(immun)
kidney = cleaning(kidney)

In [ ]:
#Examining the size of each dataset to ensure cleaning function worked

print(asthma.shape)
#print(cancer.shape)
print(cardiac_mortality.shape)
print(high_blood_pressure.shape)
print(copd.shape)
print(diabetes.shape)
print(immun.shape)
print(kidney.shape)

In [ ]:
def adj(df):
    adj_df = df[df['DataValueType'] == 'Age-adjusted Prevalence'].copy()
    adj_df.drop(columns=['LocationAbbr', 'DataValueType', 'Stratification1'], inplace=True)
    return adj_df

def crude(df):
    crude_df = df[df['DataValueType'] == 'Prevalence'].copy()
    crude_df.drop(columns=['LocationAbbr', 'DataValueType', 'Stratification1'], inplace=True)
    return crude_df

# Cardiac mortality is 'Age-adjusted Rate' and 'Crude Rate' not 'Prevalence'- fix this in final code

### Saving the datasets to the Data folder
Once the file size of each dataset was reduced enough and the features were reduced to those pertaining to the problem, the pre-existing conditions were saved as csvs separated as raw and age-adjusted numbers.

In [ ]:
def process_dataframes(dataframe_list):
    results = {} 
    for name, df in dataframe_list.items():
        adj_result = adj(df)
        crude_result = crude(df)
        results[name] = {'adj': adj_result, 'crude': crude_result}
    return results

# Create a list of DataFrames 
dataframe_list = {
    'copd': copd,
    'asthma': asthma,
    'high_blood_pressure': high_blood_pressure,
    'diabetes': diabetes,
    'immun': immun,
    'kidney': kidney
}
# Process the list of DataFrames
results = process_dataframes(dataframe_list)

# Save the results to CSV
for name, result in results.items():
    result['adj'].to_csv(f'Data/Raw/{name}_adj.csv', index = False)
    result['crude'].to_csv(f'Data/Raw/{name}_crude.csv', index = False)

In [ ]:
cardiac_mortality = cardiac_mortality[cardiac_mortality['DataValueType'] == 'Age-adjusted Rate']
cardiac_mortality.drop(columns=['LocationAbbr', 'DataValueType', 'Stratification1'], inplace=True)
cardiac_mortality.to_csv('Data/Raw/cardiac_mortality_adj.csv', index = False)

## Vaccination Rates by Stae

In [ ]:
vax = pd.read_csv('Ignore/COVID-19_Vaccinations_in_the_United_States_Jurisdiction_20231101.csv')

In [ ]:
vax_2021 = vax[vax['Date'] == '12/31/2021'].copy()

In [ ]:
vax_2021.isna().sum()

In [ ]:
vax_2021.drop(columns = ['MMWR_week', 'Date', 'Second_Booster', 'Second_Booster_50Plus_Vax_Pct', 'Second_Booster_65Plus_Vax_Pct', 'Bivalent_Booster_65Plus_Pop_Pct'], inplace=True)

In [ ]:
vax_2022 = vax[vax['Date'] == '12/28/2022'].copy()

In [ ]:
vax_2022.drop(columns = ['MMWR_week', 'Date', 'Second_Booster'], inplace =True)

In [ ]:
vax_2022.isna().sum()

In [ ]:
vax_state = pd.merge(vax_2021, vax_2022, how ='inner', on='Location', suffixes=('_2021', '_2022'))

In [ ]:
vax_state.isna().sum()

In [ ]:
vax_state.to_csv('Data/Cleaned/vax_state.csv', index=False)

# County Level Data

### Mask Data

In [ ]:
county_mask = pd.read_csv('Ignore/U.S._State_and_Territorial_Public_Mask_Mandates_From_April_10__2020_through_August_15__2021_by_County_by_Day.csv')
county_mask

In [ ]:
# Chat GPT was consulted to create more efficient code which ran faster
def mandate_length(data):
    county_counts = {}
    for index, row in data.iterrows():
        county_name = row['County_Name']
        mask_required = row['Face_Masks_Required_in_Public']
        state = row['State_Tribe_Territory']
        
        if mask_required == 'Yes':
            if county_name in county_counts:
                county_counts[county_name]['Count'] += 1
            else:
                county_counts[county_name] = {'State': state, 'Count': 1}

    county_counts_list = [{'State': v['State'], 'County': k, 'Count': v['Count']} for k, v in county_counts.items()]

    return pd.DataFrame(county_counts_list)

county_counts_df = mandate_length(county_mask)

In [ ]:
county_counts_df.to_csv('Data/Raw/county_mask_mandata.csv', index=False)

## Covid Vaccination Rates by county

In [ ]:
# The initial dataset was downloaded from the CDC site and stored in the Ignore Folder
covid_vax = pd.read_csv('Ignore/COVID-19_Vaccinations_by_county.csv')
covid_vax.shape()

In [ ]:
covid_vax.head()

In [ ]:
# keeping 9/18/2021 & 12/28/2022 for point in time data 
early_vax = covid_vax[covid_vax['Date'] == '9/18/2021'].copy()
late_vax = covid_vax[covid_vax['Date'] == '12/28/2022'].copy()

In [ ]:
early_vax.drop(columns=['Series_Complete_Pop_Pct',
                        'Series_Complete_65PlusPop_Pct'], inplace = True)
early_vax.head()

In [ ]:
early_vax.dropna(inplace=True)

In [ ]:
late_vax.drop(columns=['Date', 'MMWR_week', 'Series_Complete_65PlusPop_Pct', 'Census2019', 'Census2019_65PlusPop'], inplace=True)
late_vax.head()

In [ ]:
# Saving the smaller csv files into the raw data folder
early_vax.to_csv('../Data/Raw/early_vax_2021.csv', index=False)
late_vax.tocsv('../Data/Raw/late_vax_2022.csv', index=False)

## Population

In [1]:
# Reading in the population data downloaded from usafacts
pop = pd.read_csv('./Ignore/covid_county_population_usafacts.csv')
pop.describe()

NameError: name 'pd' is not defined

In [ ]:
pop.head()

In [ ]:
# States dictionary
state_name = {
    'AL':'Alabama',
    'AK':'Alaska',
    'AZ':'Arizona',
    'AR':'Arkansas',
    'CA':'California',
    'CO':'Colorado',
    'CT':'Connecticut',
    'DE':'Delaware',
    'DC':'District of Columbia',
    'FL':'Florida',
    'GA':'Georgia',
    'HI':'Hawaii',
    'ID':'Idaho',
    'IL':'Illinois',
    'IN':'Indiana',
    'IA':'Iowa',
    'KS':'Kansas',
    'KY':'Kentucky',
    'LA':'Louisiana',
    'ME':'Maine',
    'MD':'Maryland',
    'MA':'Massachusetts',
    'MI':'Michigan',
    'MN':'Minnesota',
    'MS':'Mississippi',
    'MO':'Missouri',
    'MT':'Montana',
    'NE':'Nebraska',
    'NV':'Nevada',
    'NH':'New Hampshire',
    'NJ':'New Jersey',
    'NM':'New Mexico',
    'NY':'New York',
    'NC':'North Carolina',
    'ND':'North Dakota',
    'OH':'Ohio',
    'OK':'Oklahoma',
    'OR':'Oregon',
    'PA':'Pennsylvania',
    'RI':'Rhode Island',
    'SC':'South Carolina',
    'SD':'South Dakota',
    'TN':'Tennessee',
    'TX':'Texas',
    'UT':'Utah',
    'VT':'Vermont',
    'VA':'Virginia',
    'WA':'Washington',
    'WV':'West Virginia',
    'WI':'Wisconsin',
    'WY':'Wyoming'
}

# List of states that can be used in cleaning functions
state_abbreviations = list(state_name.keys())

In [ ]:
# Creating a df of populations for each county
state_pop_sum = {}
for index, row in pop.iterrows():
    state_abbr = row['State'] 
    tot_pop = row['population']  
    
    if state_abbr in state_pop_sum:
        state_pop_sum[state_abbr] += tot_pop
    else:
        state_pop_sum[state_abbr] = tot_pop

for state, pop_sum in state_pop_sum.items():
    print(f"{state}: {pop_sum}")

In [ ]:
tot_pop = pd.DataFrame(list(state_pop_sum.items()), columns=['State', 'Total Population'])
tot_pop.head()

In [ ]:
merged_pop = pd.merge(pop, tot_pop, on='State')
merged_pop.head()

In [ ]:
merged_pop['pop %'] = (merged_pop['population'] / merged_pop['Total Population'])*100
merged_pop.head()

In [ ]:
# Saving pop percent 
merged_pop.to_csv('./Data/Cleaned/population_w_percent.csv', index = False)

## Covid Cases by County

In [ ]:
cases = pd.read_csv('Ignore/covid_confirmed_usafacts.csv')
cases.head()

cases['County'] = cases['County Name'].str.replace(r'\bCounty\b', '', regex=True).str.strip()

new_pop = pd.read_csv('./Data/Cleaned/population_w_percent.csv')
new_pop['pop %'] = new_pop['pop %']/100
pop_percent = new_pop.drop(columns=['County Name', 'State', 'population', 'Total Population'])

In [ ]:
cases = pd.merge(cases, pop_percent, how = 'left', on='countyFIPS').copy()

In [ ]:
cases_2020 = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2020-12-31', 'pop %']].copy()
cases_2020.rename(columns = {'2020-12-31': 'cases_2020', 'pop %': 'pop_per'}, inplace =True)

In [ ]:
for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = cases_2020.loc[
        (cases_2020['State'] == state_abbr) & (cases_2020['County'] == 'Statewide Unallocated'),
        'cases_2020'
    ].values[0]
    
    county_list = cases_2020.loc[cases_2020['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        cases_2020.loc[
            (cases_2020['State'] == state_abbr) & (cases_2020['County'] == county),
            'cases_2020'
        ] += total_unallocated * cases_2020.loc[
            (cases_2020['State'] == state_abbr) & (cases_2020['County'] == county),
            'pop_per'
        ]
        
cases_2020 = cases_2020.drop_duplicates()

In [ ]:
cases_2021 = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2021-12-31', 'pop %']].copy()
cases_2021.rename(columns = {'2021-12-31': 'cases_2021', 'pop %': 'pop_per'}, inplace =True)

for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = cases_2021.loc[
        (cases_2021['State'] == state_abbr) & (cases_2021['County'] == 'Statewide Unallocated'),
        'cases_2021'
    ].values[0]
    
    county_list = cases_2021.loc[cases_2021['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        cases_2021.loc[
            (cases_2021['State'] == state_abbr) & (cases_2021['County'] == county),
            'cases_2021'
        ] += total_unallocated * cases_2021.loc[
            (cases_2021['State'] == state_abbr) & (cases_2021['County'] == county),
            'pop_per'
        ]

cases_2021 = cases_2021.drop_duplicates()

In [ ]:
cases_2022 = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2022-12-31', 'pop %']].copy()
cases_2022.rename(columns = {'2022-12-31': 'cases_2022', 'pop %': 'pop_per'}, inplace =True)

In [ ]:
for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = cases_2022.loc[
        (cases_2022['State'] == state_abbr) & (cases_2022['County'] == 'Statewide Unallocated'),
        'cases_2022'
    ].values[0]
    
    county_list = cases_2022.loc[cases_2022['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        cases_2022.loc[
            (cases_2022['State'] == state_abbr) & (cases_2022['County'] == county),
            'cases_2022'
        ] += total_unallocated * cases_2022.loc[
            (cases_2022['State'] == state_abbr) & (cases_2022['County'] == county),
            'pop_per'
        ]
cases_2022 = cases_2022.drop_duplicates()

merged_cases = pd.merge(cases_2020, cases_2021, how='left', on='countyFIPS')
county_cases = pd.merge(merged_cases, cases_2022, how='left', on='countyFIPS')

county_cases.drop(columns = ['County','State', 'StateFIPS', 'pop_per_x', 'County_y', 'State_y', 'StateFIPS_y',
                  'pop_per_y'], inplace=True)
county_cases.head()

In [ ]:
columns_to_check_duplicates = ['countyFIPS', 'County_x', 'State_x', 'StateFIPS_x']
county_cases.drop_duplicates(subset=columns_to_check_duplicates, keep='first', inplace=True)
county_cases.rename(columns = {'County_x' : 'County', 'State_x': 'State', 'StateFIPS_x': 'StateFIPS'}, inplace =True)

In [ ]:
county_cases = county_cases.drop_duplicates()
county_cases.shape

#### Reading in the county Health Rankings Data

In [ ]:
rank = pd.read_csv('./Data/2019 County Health Rankings Data - cleaned.csv')

## Deaths by County

In [ ]:
deaths = pd.read_csv('./Ignore/covid_deaths_usafacts.csv')
deaths

In [ ]:
deaths['County'] = deaths['County Name'].str.replace(r'\bCounty\b', '', regex=True).str.strip()
deaths = pd.merge(deaths, pop_percent, how = 'left', on='countyFIPS').copy()

In [ ]:
deaths_2020 = deaths[['countyFIPS', 'County', 'State', 'StateFIPS', '2020-12-31', 'pop %']].copy()
deaths_2020.rename(columns = {'2020-12-31': 'deaths_2020', 'pop %': 'pop_per'}, inplace =True)
for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = deaths_2020.loc[
        (deaths_2020['State'] == state_abbr) & (deaths_2020['County'] == 'Statewide Unallocated'),
        'deaths_2020'
    ].values[0]
    
    county_list = deaths_2020.loc[deaths_2020['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        deaths_2020.loc[
            (deaths_2020['State'] == state_abbr) & (deaths_2020['County'] == county),
            'deaths_2020'
        ] += total_unallocated * deaths_2020.loc[
            (deaths_2020['State'] == state_abbr) & (deaths_2020['County'] == county),
            'pop_per'
        ]

In [ ]:
deaths_2020 = deaths_2020.drop_duplicates()

deaths_2021 = deaths[['countyFIPS', 'County', 'State', 'StateFIPS', '2021-12-31', 'pop %']].copy()
deaths_2021.rename(columns = {'2021-12-31': 'deaths_2021', 'pop %': 'pop_per'}, inplace =True)
for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = deaths_2021.loc[
        (deaths_2021['State'] == state_abbr) & (deaths_2021['County'] == 'Statewide Unallocated'),
        'deaths_2021'
    ].values[0]
    
    county_list = deaths_2021.loc[deaths_2021['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        deaths_2021.loc[
            (deaths_2021['State'] == state_abbr) & (deaths_2021['County'] == county),
            'deaths_2021'
        ] += total_unallocated * deaths_2021.loc[
            (deaths_2021['State'] == state_abbr) & (deaths_2021['County'] == county),
            'pop_per'
        ]

deaths_2021 = deaths_2021.drop_duplicates()

In [ ]:
deaths_2022 = deaths[['countyFIPS', 'County', 'State', 'StateFIPS', '2022-12-31', 'pop %']].copy()
deaths_2022.rename(columns = {'2022-12-31': 'deaths_2022', 'pop %': 'pop_per'}, inplace =True)
for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = deaths_2022.loc[
        (deaths_2022['State'] == state_abbr) & (deaths_2022['County'] == 'Statewide Unallocated'),
        'deaths_2022'
    ].values[0]
    
    county_list = deaths_2022.loc[deaths_2022['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        deaths_2022.loc[
            (deaths_2022['State'] == state_abbr) & (deaths_2022['County'] == county),
            'deaths_2022'
        ] += total_unallocated * deaths_2022.loc[
            (deaths_2022['State'] == state_abbr) & (deaths_2022['County'] == county),
            'pop_per'
        ]
        
deaths_2022 = deaths_2022.drop_duplicates()

In [ ]:
merged_deaths = pd.merge(deaths_2020, deaths_2021, how='left', on='countyFIPS')
county_deaths = pd.merge(merged_deaths, deaths_2022, how='left', on='countyFIPS')
county_deaths.drop(columns = ['County','State', 'StateFIPS', 'pop_per_x', 'County_y', 'State_y', 'StateFIPS_y',
                  'pop_per_y'], inplace=True)
county_deaths.head()

In [ ]:
columns_to_check_duplicates = ['countyFIPS', 'County_x', 'State_x', 'StateFIPS_x']

county_deaths.drop_duplicates(subset=columns_to_check_duplicates, keep='first', inplace=True)

county_deaths.rename(columns = {'County_x' : 'County', 'State_x': 'State', 'StateFIPS_x': 'StateFIPS'}, inplace =True)

county_deaths = county_deaths.drop_duplicates()
county_deaths.head()

In [ ]:
print(county_deaths.shape)
print(county_cases.shape)

In [ ]:
county_cases.drop(columns = ['StateFIPS','pop_per'], inplace=True)
county_deaths.drop(columns = ['County', 'countyFIPS', 'State','StateFIPS','pop_per'], inplace=True)

In [ ]:
cases_deaths = pd.concat([county_cases,county_deaths], axis=1, join='outer')

In [ ]:
cases_deaths.rename(columns={'countyFIPS': 'FIPS'},inplace=True)

In [ ]:
rcd = pd.merge(rank,cases_deaths, how='inner', on='FIPS')
rcd.shape

In [ ]:
## County Mask Mandates

In [ ]:
mask = pd.read_csv('./Data/Raw/county_mask_mandata.csv')
#We can't drop state, some states have counties with the same name...
mask = mask.rename(columns = {'Count' : 'Masks'})
mask['County'] = mask['County'].str.replace(r'\bCounty\b', '', regex=True).str.strip()

In [1]:
mask.head()

In [ ]:
rcd.isna().sum()

In [ ]:
# Look at just the columns with missing data
missing_columns = rcd.columns[rcd.isnull().any()]
print(missing_columns)

# We will have to address each of these columns and drop

In [ ]:
rcd.rename(columns={'County_x': 'County'}, inplace=True)
rcd.rename(columns={'State_y': 'State'}, inplace=True)

In [ ]:
county_data = pd.merge(rcd,mask, on=['State', 'County'], how='left')

In [ ]:
county_data.State_x.nunique()

In [ ]:
county_data['Masks'].isna().sum()

In [ ]:
county_data['Masks'].fillna(0, inplace=True)

In [ ]:
county_data['Masks'].isna().sum()

In [ ]:
county_vax = pd.read_csv('Data/Cleaned/county_vax_2021.csv')

In [ ]:
county_vax.shape

In [ ]:
county_vax.rename(columns={'Recip_County': 'County', 'Recip_State': 'State'}, inplace=True)

In [ ]:
county_vax.head()

In [ ]:
county_data['FIPS'] = county_data['FIPS'].astype('object')

In [ ]:
county_data.drop(columns=['State_x', 'County_y'], inplace=True)

In [ ]:
county_vax['County'] = county_vax['County'].str.replace(r'\bCounty\b', '', regex=True).str.strip()

In [ ]:
df = pd.merge(county_data, county_vax, how='inner', on=['County', 'State'])
print(df.shape)
df.head()

In [ ]:
df.to_csv('Data/Cleaned/county_df2.csv', index=False)